[2019-03-26 19:33] e-lo opened #2 "Set up continuous integration"
Probably using Travis CI
But need to wait for repo to be open.

[2019-03-26 19:34] e-lo opened #3 "Commit St Paul files"
Check size to make sure they are tolerable

[2019-03-26 19:38] e-lo opened #4 "Create Simple Project Card for St Paul"
Create a road widening/diet project card within the St Paul test network in order to test methods to read in and process project cards.

Example from requirements document:

[code]

[2019-03-26 19:44] e-lo opened #5 "Add Setup.py"
In order to successfully install `network_wrangler` as a package, create a `[setup.py](https://packaging.python.org/tutorials/packaging-projects/)` file.

Simple and effective example: [https://github.com/gboeing/osmnx/blob/master/setup.py](https://github.com/gboeing/osmnx/blob/master/setup.py)

[2019-03-26 19:47] e-lo opened #6 "Add requirements.txt"
In order to install all the requirements via `pip install -r requirements.txt`

The requirements file will evolve as we add other dependencies.

[2019-03-26 19:54] e-lo opened #7 "Roadway Network Object with read/write methods"
Object should be a geopandas dataframe, potentially just a subclass of [OSMnx](osmnx.readthedocs.io) – although we could also defer that decision.

Really a geojson-->geopandas

Read method should be able to read:
-  the St Paul network in the roadway network standard

Write method should be able to write to either:
- the roadway network standard; or
- files sufficient for building

[2019-03-26 20:04] e-lo opened #8 "Transit Network Object with read/write methods"
Create a transit network object in GeoPandas (most-likely a [Partridge](https://github.com/remix/partridge) object).

With methods to read the St Paul network from the transit network standard.

And methods to write the St Paul network in the transit network standard and/or Cube .lin files.

[2019-03-26 20:07] e-lo opened #9 "Add .gitignore"
So that our repository doesn't become inadvertently polluted with unnecessary errata, add a suitable `.gitignore` file and update it from time to time as our needs evolve.

[2019-03-26 20:19] e-lo opened #10 "Add module __init__ file"
Will need to expose various methods by adding them to the init file.

[2019-03-26 20:47] #6 closed, assigned to e-lo

[2019-03-26 20:47] #9 closed, assigned to e-lo

[2019-03-26 20:47] #5 closed, assigned to e-lo

[2019-03-26 20:47] #10 closed, assigned to e-lo

[2019-03-27 22:00] #3 closed, assigned to e-lo

[2019-03-27 22:38] #4 closed, assigned to e-lo

[2019-03-27 22:39] e-lo opened #12 "Project Card Object with read method"

[2019-04-21 16:44] e-lo opened #14 "Apply simple roadway feature change"
Change the network object according to the [`1_simple_roadway_attribute_change`](https://github.com/wsp-sag/network_wrangler/blob/master/example/stpaul/project_cards/1_simple_roadway_attribute_change.yml) project card.

Should be able to be tested with something like: `roadway_network_object.apply_simple_network_change(file='1_simple_roadway_attribute_change')`

[2019-04-21 16:54] e-lo opened #15 "Create a `Scenario` object"
Create an object to read and hold information about the scenario, including:
- initialization of scenario with a base network and a 'tag' (e.g. `example` is what is used in [the simple roadway attribute change project card ](https://github.com/wsp-sag/network_wrangler/blob/master/example/stpaul/project_cards/1_simple_roadway_attribute_change.yml).
- reading and validating project cards from a fold

[2019-04-21 16:59] e-lo opened #16 "Check for pre-, co-requisites, and conflicts"
Within the scenario object, check for pre-requisites, co-requisites, and conflicts.

Expected behavior:
- should fail after all are examined if there are any pre-requisites or co-requisites missing
- should fail after all are examined if there are any conflicting projects
- allow an override flag to turn the fail --> warning
- should order the list of project cards such that they are in order base

[2019-04-21 17:02] e-lo opened #17 "Set up logging"
Set up a [logging](https://docs.python.org/3/library/logging.html) such that:
 - debug and info level logs are logged to file .
 - warn and above level logging are logged to screen .

[2019-04-23 19:32] e-lo opened #18 "Fill out Readme"
- Acknowledge previous work
- Add installation instructions

[2019-04-23 19:32] e-lo opened #19 "Set up documentation"
- Sphinx/RTD

[2019-04-24 18:55] #12 closed, assigned to chryssac

[2019-04-30 19:21] e-lo opened #22 "Add Dockerfile"

[2019-04-30 21:51] #18 closed, assigned to e-lo

[2019-05-01 17:37] #17 closed, assigned to chryssac

[2019-05-07 17:33] e-lo opened #25 "Determine relationship between network_wrangler write method and the utility/plugin for agency details"
One question that will keep coming up is what do work gets accomplished in `network_wrangler` vs an agency-specific utility.

Options to consider:
1.  network_wrangler itself has the capability to read/write an agency-specific network files.

This would entail creating plug-ins or settings files (which could reside in an agency-specific repo) to map the network standard <--> agency standards.  Thi

[2019-05-07 19:24] #25 closed, assigned to nobody

[2019-05-13 21:10] #22 closed, assigned to e-lo

[2019-05-13 23:15] #19 closed, assigned to e-lo

[2019-05-13 23:46] e-lo opened #27 "Add initial project_card schema as json to test against"
will put in a /schemas folder in json-schemas draft 7 format using:
https://jsonschema.net/

[2019-05-15 19:31] e-lo opened #28 "Consider use of Python 3.7 Data Classes"
Python 3.7 allows has a special [`dataclass` ](https://docs.python.org/3/library/dataclasses.html) which allows you to specify types and provides an implicit `__init__.py` to check it.

There is a wrapper module for json-based data, called [`dataclasses-json`](https://pypi.org/project/dataclasses-json/)

[2019-05-24 16:46] DavidOry opened #29 "Managed Lane Project Card Consumption"
Update project card read, [project card schema](https://github.com/wsp-sag/network_wrangler/blob/master/schemas/project_card.json), and validation methods to adhere to updates to the project card design.

https://jsonschema.net/ is a useful resource for updating the schema

[2019-05-24 16:47] DavidOry opened #30 "Create example Managed Lane Project Card"
This will involve updating the design of the project card such that it can accurately describe the following details, without negating much of the consistency or simplicity associated with the simple change project card:
 1. Managed lane attachment method:

For example:
  - separate facility with specific entry/exits to/from mainline
  - separate lane with specific entry/exits to/from mainline
  -

[2019-05-24 16:49] DavidOry opened #31 "Create Roadway JSON Schema"
* When roadway is read in, we should validate it's schema via a json schema
* So we need to create the json schema

[2019-05-24 16:50] DavidOry opened #32 "Validate Roadway Schema"
* Use #31 to validate the input roadway
* Validator method

[2019-05-24 16:51] DavidOry opened #33 "Write tests for co-, pre-, and conflicts"

[2019-05-24 16:52] DavidOry opened #34 "Make repository public"
Allows #33 to be free

[2019-05-24 16:56] #27 closed, assigned to e-lo

[2019-05-24 16:58] chryssac commented on #34
updated repository to public

[2019-05-24 16:58] #34 closed

[2019-05-24 17:00] e-lo commented on #7
Finished with review of the test and this commit: https://github.com/wsp-sag/network_wrangler/commit/9220e20bf253798e696ffc9f95c2576bff0541eb

[2019-05-24 17:00] #7 closed

[2019-05-29 17:02] #15 closed

[2019-06-03 16:02] e-lo opened #35 "Add travis-ci as a service on the repository"

[2019-06-03 16:45] e-lo commented on #35
Still not registering as a repo on travis-ci. I don't have access to organizational settings but could you check on them when you get a chance?

[2019-06-03 18:45] chryssac commented on #14
@e-lo is this project card decreasing the lanes from 3 to 2?

[2019-06-03 18:59] e-lo commented on #14
yup

[2019-06-03 19:05] chryssac commented on #14
okay st paul link.json it has 2 lanes for that link... do we want to update the card or the json?

[2019-06-03 22:36] chryssac commented on #14
@e-lo are we passing a project card or a string to a project card file to the method?

[2019-06-03 22:44] e-lo commented on #14
egads! it doesn't have 2 in real life...but for now please update the card.

[2019-06-04 13:25] JonathanEhrlichMC commented on #14
I'm interested to know what happens (or should happen) when an assumption of the project card is not true

[2019-06-11 23:23] e-lo opened #37 "Consider TOML instead of YAML?"
YAML is picky. We could be flexible and allow other formats for configs and project cards.

https://github.com/toml-lang/toml

[2019-06-13 05:47] #8 closed

[2019-07-08 19:13] DavidOry opened #38 "Search Method for Affected Roadway Links"
@e-lo to elaborate.

[2019-07-08 19:15] DavidOry opened #39 "Apply Multiple Types of Changes from Same Project Card"
Change multiple attributes for same link

[2019-07-08 19:19] DavidOry commented on #38
Initially, it's a simple method but the idea is it returns a set and the action is taken on the set. We can refine the intelligence of how to fetch the vector.

[2019-07-08 19:23] DavidOry opened #40 "Add Method to Validate Roadway JSON Schema"

[2019-07-09 05:44] e-lo commented on #38
Idea on usage

[code]

[2019-07-09 05:46] e-lo commented on #39
Brainstorm of example usage...

[code]

[2019-07-09 06:03] e-lo opened #41 "Consider Flattening JSON to Pandas dataframe"
can use `json_flatten` to read, but to write will have to do [something fancier. ](https://stackoverflow.com/questions/23576869/pandas-convert-dataframe-to-nested-json)

As discussed: in PR https://github.com/wsp-sag/network_wrangler/pull/36

[2019-07-09 06:16] #14 closed

[2019-07-09 07:20] e-lo commented on #38
put a stub method on this branch: https://github.com/wsp-sag/network_wrangler/tree/change_multiple_links_attributes

[2019-07-13 00:29] josiekre commented on #32
I think this is a duplicate of #40, right?

[2019-07-15 16:34] e-lo commented on #32
yes. i'll delete 40

[2019-07-15 16:34] #40 closed

[2019-07-16 18:25] kulshresthaa opened #42 "Reading network after writing out using write method"
@e-lo When I read the example network, write it out as new network and then try to read it again from that new location, the `read` method throws an error (I think it is for links data). Can you confirm?

[code]

Also, `links.json` structure (when I open them in text editor) is different between the input (example file) and output (created using `write`) links.json. Is that OK? Asking because when

[2019-07-17 04:03] #31 closed

[2019-07-17 04:04] e-lo commented on #32
Completed based on schema, but could add other validations in future.

[2019-07-17 19:55] e-lo opened #43 "Parallel validation and writes"
Currently the StPaul network read-in takes 53-56 seconds and a similar time to write and validate (8 seconds if we skip validation on the read in.  Since there are three distinct files and objects, suggest doing the validate/writes in parallel.

[2019-07-22 21:13] kulshresthaa commented on #16
@e-lo Could you tell me bit more about the issue, so that I can get started on this one?

[2019-07-22 22:47] e-lo commented on #16
The basic idea is that you can control how projects interact with each other by specifying one or more of the following:
- Prerequisites: if project B requires project A as a prerequisite
  - make sure that project A is specified in the scenario (warn or fail if not)
  - make sure project A is applied before project B (log this as an info item)
- Corequisites:  if project B requires project A as a

[2019-07-23 17:27] kulshresthaa commented on #16
How do we know what is included in the "scenario". where will it be specified?

[2019-07-23 17:47] e-lo commented on #16
It should be held in the [Scenario object](https://github.com/wsp-sag/network_wrangler/blob/786d617d75ae5f4d4d30e3b2044033feab380655/network_wrangler/Scenario.py#L10), which doesn't exist in full form yet.
For now, lets assume that:
 - `self.project_cards` is an ordered list of projects in the order in which they would be applied
 - The prerequisites, co-requisites and conflicts are held in some s

[2019-07-23 18:36] kulshresthaa commented on #16
last question for now :-)
what is a base scenario in the [scenario object](https://github.com/wsp-sag/network_wrangler/blob/786d617d75ae5f4d4d30e3b2044033feab380655/network_wrangler/Scenario.py#L10). What is stored in `base_scenario` as a dict?

[2019-07-23 19:49] e-lo commented on #16
What, this helpful documentation wasn't enough? :-)
https://github.com/wsp-sag/network_wrangler/blob/786d617d75ae5f4d4d30e3b2044033feab380655/network_wrangler/Scenario.py#L38

The base scenario is a dictionary capable of describing a scenario from which you are tiering. At a minimum, it lists a highway and transit network. Additionally, it could contain information about the projects that have alr

[2019-07-31 22:01] e-lo commented on #2
Done!

[2019-07-31 22:01] #2 closed

[2019-07-31 22:01] e-lo commented on #35
Thanks!

[2019-07-31 22:01] #35 closed

[2019-07-31 22:02] e-lo commented on #33
Done! https://github.com/wsp-sag/network_wrangler/commit/74f480b222d2a9b4723bc344eccc42ed06b455a1

[2019-07-31 22:02] #33 closed

[2019-08-01 15:32] e-lo commented on #32
This is done but will need to be updated as we evolve the network standard.

[2019-08-01 15:32] #32 closed

[2019-08-01 15:34] e-lo commented on #16
This is working within the PR and passes all current tests locally. PR:  https://github.com/wsp-sag/network_wrangler/pull/47

[2019-08-01 15:34] #16 closed

[2019-08-01 15:35] e-lo commented on #38
The initial pass is working in PR https://github.com/wsp-sag/network_wrangler/pull/47 but doesn't satisfy all use cases and needs to be rigorously tested. Will be creating a notebook to be able to visualize the results.

[2019-08-01 22:36] e-lo commented on #38
@kulshresthaa here is a very very rough pseudocode for what we discussed this PM:
https://github.com/wsp-sag/network_wrangler/wiki/Network-search-method

[2019-08-13 19:45] e-lo commented on #38
**Question: What should the qualifications be for returning a "good selection"?**
This is showing a path from A-->B that goes along the one-way pair for the specified street because 6th St is one-way the other way.  This seems excessive.

Thoughts?  cc: @DavidOry @josiekre @kulshresthaa

![image](https://user-images.githubusercontent.com/794787/62971938-d3bc8600-bdc7-11e9-9c38-a90e4c40f224.png)

[2019-08-13 22:46] josiekre commented on #41
I'm having a hard time following the conversation in the PR. What do you want to convert to a Pandas dataframe that is not already?

Based on my limited understanding scanning the code, I'm guessing this issue is in reference to storing the Project Card selection criteria as a Pandas dataframe rather than dict?

[2019-08-14 04:35] e-lo commented on #41
ProjectCard is being stored as a dict. Not sure now why we would need this but it could have been in reference to RoadwayNetwork or another class. I'm going to remove it from this sprint as it isn't needed for it.

[2019-08-14 04:37] e-lo opened #49 "Decide on a method and tolerance to make a selection fail"
**Question: What should the qualifications be for returning a "good selection"?**
This is showing a path from A-->B that goes along the one-way pair for the specified street because 6th St is one-way the other way.  This seems excessive.

Right now this is controlled with the variable `RoadwayNetwork.MAX_SEARCH_BREADTH `
I have it set to 10, meaning that there could be a gap of 10 links between ro

[2019-08-14 04:38] e-lo commented on #38
Tests pass, calling this good for now.
Opened a separate issue for the criteria for a failing selection.

[2019-08-14 04:38] #38 closed

[2019-08-14 05:14] e-lo opened #50 "Wrapper method to add managed lanes in RoadwayNetwork - simple version"
1. Managed lane attachment method:

For example:
  - separate facility with specific entry/exits to/from mainline
  - separate lane with specific entry/exits to/from mainline
  - separate lane with permeable boundary

2. Managed lane characteristics: copied from mainline or new?
 - including any time of day considerations

QUESTIONS:
- under which conditions do we keep it as an attribute of existi

[2019-08-14 05:17] e-lo opened #51 "Moving Transit Lines to Managed Lane"
Create a method in the TransitNetwork to move transit lines, as specified, to a parallel managed lane facility.

This may include querying which transit lines have stops that can be served if they are moved vs not.

[2019-08-14 05:18] e-lo opened #52 "Write some tests for processing managed lane project cards"

[2019-08-14 16:46] josiekre commented on #49
This search method is specifically about letting users specific the links as "6th St" between node "A" and "B". Correct?

This seems like a user error and should stop in my opinion. If A -> B is one-way in the opposite direction than the user specified, the user is probably thinking about the project incorrectly. It should be changed from node B -> A by the user to get a correct result. Is that to

[2019-08-14 18:04] e-lo commented on #49
Agreed (and this is a rather extreme example where part, but not all of the street is 2 way). Question is what are the cues for throwing the error.

[2019-08-14 18:12] josiekre commented on #49
What does you mean by "overlapping with something else" in the second sentence in number 3?

[2019-08-14 18:18] e-lo commented on #49
`Sidenote: in the current implementation, can a user actually list the link IDs (e.g. OSMID, ShSt ID) rather than a name?`
Right now we require a name, but that is a good call that if you are listing the IDs, we shouldn't require it.

Right now the algorithm should be fine with you listing IDs, but we should test.

[2019-08-14 18:20] e-lo commented on #49
i.e. if 6th Street  is sometimes called "Kermit the Frog Way", or if I-35 shares a facility with some other freeway but the naming is inconsistently one vs the other.

[2019-08-14 18:23] e-lo opened #53 "When listing specific IDs, don't go through big search"
If the `facility` flag directly specifies IDs, you don't need to do the big network search, you can just do a regular pandas query.

IDs would include:
- Shared Street IDs,
- OSMIDs,
- travel model IDs

Proposed approach:
1. create a class-level variable in RoadwayNetwork that is a list of variables that are considered unique IDs
2. update facility query to do simpler querying if a unique ID is us

[2019-08-14 18:44] josiekre commented on #49
Ah I see. I think 3 is the best we could do with names then, given the level of missing and overlapping names in Twin Cities (and a lot of other cities).

I'm still thinking there may be too big of a problem when using "name" without some sort of user verification/visualization of the links that the changes are being applied to (regardless of any tolerance/criteria for failing).

Ultimately the nu

[2019-08-14 18:52] e-lo commented on #49
Agreed. That is why we are running an SP to link A to B for those situations (but we don't want to be too lenient so that we reject things like the above example)

Totally agree! The TA version produced stacks of info confirming changes to each scenario including maps.  I think at the least we should have a project visual validation which goes a little beyond what we did in the current .ipynb.

[2019-08-14 18:53] e-lo opened #54 "Project validation report/visualizer"

[2019-08-14 20:31] josiekre commented on #49
For anyone else who jumps in to read this...

SP = shortest path
TA = ?

[2019-08-14 20:46] JonathanEhrlichMC commented on #30
Time of day considerations- for example this mainline has a managed lane which is open only in the AM peak, but is a GP lane all other times. Or this mainline has a managed shoulder which is open only in the AM peak but is closed (a shoulder) at other times, etc?

[2019-08-14 20:57] e-lo opened #55 "Create simple transit attribute change project card"
For now, let's start simple and make this a line-level change (i.e. headways) rather than addressing things like routing and stops.

In order to:
- test searching for transit lines
- manipulating transit network object
- write out manipulated transit network object

From the requirements document (this needs to be brought up to speed with current spec and will likely evolve):
[code]

[2019-08-14 21:00] e-lo opened #56 "Transit Network Object Search Method"
A parallel to the search method in RoadwayNetwork.

It should take the information specified in the ProjectCard and then output the relevant components of the transit network.

As a start, let's query by line/route-level features rather than stop/shape-level features (i.e. stop-locations/stop-ids)

[2019-08-14 21:02] e-lo opened #57 "TransitNetwork route-level attribute change"
Be able to:
- consume a route-level transit change project card
- make changes to one or more routes
- output manipulated TransitNetwork object
- make record of any warnings or errors in the log files

[2019-08-14 21:03] e-lo opened #58 "TransitNetwork route-level attribute change test"
Write a test that evaluates if a route-level attribute change was successful.

[2019-08-14 21:03] e-lo opened #59 "Make sure logging is actually writing to a file."
[ for whomever gets to it first ]

[2019-08-14 21:13] e-lo opened #60 "Create a route-shape adjustment project card for Transit Line"
Create a project card that adjusts the following features:
- facilities the bus travels on
- the stopping pattern of the bus

Features should be adjusted based on querying routes that use a specific facility, i.e. buses that use a mainline freeway segment that are operated by a set of agencies.

[2019-08-14 21:14] e-lo opened #61 "Extend transitNetwork search method to query by facility use"
Should be able to implement search as declared in  #60
i.e. buses that use I-35 between A and B

Should also allow for multiple queries, i.e. I-35 between A and B or D and F; and then belonging to agency X.

[2019-08-14 21:17] e-lo opened #62 "Add TransitNetwork method to adjust route shapes"
Should be able to implement the Project Card developed for #60 which would move routes to other facilities and change the stop pattern.

[2019-08-14 21:22] e-lo commented on #49
TA =  [SFCTA version](https://github.com/sfcta/networkwrangler)
SP = shortest path

( thx, I edited my post above to be more explicit )

[2019-08-14 21:39] e-lo opened #63 "Transit route-level change Project Card Consumption"
Update project card read, [project card schema](https://github.com/wsp-sag/network_wrangler/blob/master/schemas/project_card.json), and validation methods to adhere to updates to the project card design.

https://jsonschema.net/ is a useful resource for updating the schema

[2019-08-14 21:42] e-lo opened #64 "Transit route-shape Project Card Consumption"
Update project card read, [project card schema](https://github.com/wsp-sag/network_wrangler/blob/master/schemas/project_card.json), and validation methods to adhere to updates to the project card design.

https://jsonschema.net/ is a useful resource for updating the schema

[2019-08-15 20:58] e-lo commented on #50
*SIMPLE* strawman to try out, for managed lanes that are not a separate facility:
 - store managed lane as link-level attribute of mainline
 - be as consistent as possible with OSM methods/terms
 - anything related to connector links should be stored at the link level, referencing A-node and B-node (i.e. entry tolls, HOV requirements, etc) - follow combo of ShSt (for AB stuff) and OSM link-level m

[2019-08-15 21:07] e-lo commented on #55
**Approach for attribute changes**
[code]

[2019-08-15 22:26] josiekre commented on #55
Existing will be optional. Set *or* change is required (one or the other only).

[2019-08-16 14:50] JonathanEhrlichMC commented on #50
@rachelwikenmc

[2019-08-16 17:04] JonathanEhrlichMC commented on #50
@rachelwikenMC How does this strawman look from the perspective of how MnPASS works?

[2019-08-16 19:55] RachelWikenMC commented on #50
@JonathanEhrlichMC I would need more info to comment. not sure what "connector links" are in this scenario if we are storing HOV info on mainline.

[2019-08-19 16:55] e-lo commented on #50
Let's discuss at our check in on Wednesday.

[2019-08-19 18:07] e-lo opened #65 "Create a write method for ProjectCard"
To help in translation between Log Files --> Project Cards

cc: @i-am-sijia

[2019-08-19 23:28] kulshresthaa opened #67 "Define appropriate data types to the link and node attributes"

[2019-08-19 23:29] kulshresthaa commented on #67
current data types for the attributes

links_df
[code]

nodes_df
[code]

[2019-08-20 19:04] kulshresthaa commented on #67
the reason `u` and `v` columns are object in the `links_df` is because of some rows with these entries (therefore, cannot convert these two columns to numeric).

[code]
Other than these two fields (u and v), `width` and `osmid` are stored as object which should be numeric (in `links_df`).

`width` is not defined for all links and `osmid` has some entries with commas -  so they are not getting conv

[2019-08-21 17:38] e-lo commented on #30
Open street map restrictions by time of day: https://wiki.openstreetmap.org/wiki/Conditional_restrictions

[2019-08-21 17:39] e-lo commented on #42
Working now.

[2019-08-21 17:39] #42 closed

[2019-08-22 22:45] #59 closed

[2019-08-22 23:18] josiekre commented on #67
What is `u` and `v`?

[2019-08-22 23:53] #65 closed

[2019-08-23 00:05] e-lo opened #70 "figure out directory structure such that schemas are packaged and appropriately referenced"
Right now it isn't working on uncloned repos or on travis

[2019-08-23 00:06] e-lo commented on #67
A and B

On Thu, Aug 22, 2019, 4:18 PM Josie Kressner <notifications@github.com>
wrote:

[2019-08-23 01:00] josiekre opened #71 "Extend project card schema to be able to handle multiple changes"
In thinking about #55, I came up with an idea for the project card schema. I am copying a JSON-version with comments below and an equivalent YAML. I will draft the actual schema if there is consensus on the new approach.

I think the real change I am suggesting boils down to allowing more than one type of change per project card (Roadway Attribute Change, Transit Service Attribute Change). This wi

[2019-08-23 01:24] josiekre commented on #67
In that case, I vote that `u` and `v` stay as objects (Pandas' string).

In general, I like to keep IDs as strings rather than integers for flexibility. But I'm open to integers when there's a good reason.

[2019-08-23 01:26] josiekre commented on #55
Closed w/ dae0153fbf927b6f6a46e943058acacda37dbb87. May require changes based on discussion in #71.

[2019-08-23 03:22] e-lo commented on #71
Thanks for thinking this thru! My first reaction is that the ID field should actually be an....id of the change (i.e. `id: blue_line_service_increase`) and then we retain a similar structure to how the `facility` is coded in current projects cards, but with the added ability to do some querying based on attributes...  We could add some functions to the objects to make that easier.

[2019-08-23 04:09] e-lo commented on #55
I think to close this we need to figure out the specification for determining "what" you are changing to a headway of 900 seconds, right now (below) it is ambiguous.

[code]

[2019-08-23 05:38] e-lo commented on #70
Had to put schemas in the module folder for now :-/
Works on Travis CI though!

Commit: https://github.com/wsp-sag/network_wrangler/commit/5edd3c07cc44a30e4c386923eebf2ff77c469fbe

[2019-08-23 05:38] #70 closed

[2019-08-23 12:47] DavidOry commented on #71
I obviously hate the JSON, but like the idea of combining changes. Though I think we're starting to -- here and in other places -- over-engineer a bit. I'd like to get this into Rachel's hands as soon as we can and see if managing a lot of cards is burdensome for her. I like her to be driving this and other features.

[2019-08-23 16:32] josiekre commented on #71
What feels over-engineered? Let's address.

- For some projects multiple changes are probably required (e.g. managed lane with bus rerouting, BRT with repetitive local bus, any project with link splitting for delete and add steps).

- I think we could abandon the unique identifier for each change (`id`) in favor of the `facility` approach already developed for the first roadway attribute change. I

[2019-08-23 17:48] DavidOry commented on #71
Over-engineered was a poor word choice. Better to say that I'd like our reflex to be let's push our current approach out and see how the user responds. Right now we have the `Corequisite` field in the Project Card, which allows us to "connect" cards to a bigger idea. Let's see if that works.

[2019-08-23 22:49] josiekre commented on #71
I'll see what I can do with it for transit...

Right now the project card schema has:

[code]

In addition, the optional top-level keys are: `Road`, `Attribute`, `Change`, `Dependencies`. I'll need to add something different than `Road` for transit.

Although it looks like the latest example project cards in the repo are doing something like: `facility` (instead of `road`) and `properties` (instea

[2019-08-28 00:07] josiekre opened #72 "Missing stop references"
I think the simplified GTFS format is missing a link to `stop_id` in `stops.txt`. At `example/stpaul/...` currently, I cannot see how to link stops from `stops.txt` to `trips.txt` since `stop_times.txt` is not present.

I can't find this in the GTFS docs, and I could swear there used to be language on it. When `frequencies.txt` are used, do records in `stop_times.txt` still exist to lay out the se

[2019-08-30 20:07] josiekre commented on #72
@i-am-sijia According to the best practices doc that @e-lo referenced, the first `arrival_time` value for each `trip_id` should have a value of `00:00:00`. Can you update it?

In `frequency.txt` the new columns look good. The new committed version is missing some rows when compared to what's here in this repo. I will pull in the entire new set of GTFS files so that they are consistent, but first I

[2019-08-30 22:56] e-lo commented on #72
In this:

Are you referencing this?

If so, not necessarily part of any PRD that I am aware of. But not sure why you would have more than one headway per time_bin/route/direction combo?  What else would it be diversified by? We should be expecting a simplification of a single rate for the whole time period.

[2019-08-31 19:59] josiekre commented on #72
@e-lo Correct that was what I was asking about. Two cases I can think of where this would happen:

- An agent-based supply model would allow any schedule of headways (not restricted to a time_bin). So in that case there could be more than one frequency record for a route/direction combo. For example, 6:00 - 8:30a every 5 minutes and 8:30 - 1:00 every 15 minutes. This is not regular in a long-term

[2019-08-31 20:02] josiekre commented on #63
I think this can now be closed along with #55. Please review @e-lo.

[2019-08-31 20:38] josiekre opened #74 "Validate TransitNetwork using Partridge.config object"
Partridge does not fail when the trips table is missing oddly. I accidentally renamed `examples/stpaul/trips.txt` to `examples/stpaul/trips.csv`, tried running tests, and took a while to realize that Partridge returns an empty trip table without failing.

We should import or create JSON [Table Schemas](https://frictionlessdata.io/specs/table-schema/) to validate our transit networks against. It wo

[2019-08-31 21:08] josiekre commented on #57
The implementation of `apply_roadway_feature_change()` uses `copy.deepcopy(self)` to create a new network return. I've been attempting to keep as much the same as possible for transit, but it seems like this would create a memory/runtime problem in the case of large networks and many attribute changes.

https://github.com/wsp-sag/network_wrangler/blob/5edd3c07cc44a30e4c386923eebf2ff77c469fbe/netwo

[2019-08-31 21:32] e-lo commented on #57
I think that is probably fine, but let's make it an option?

On Sat, Aug 31, 2019, 2:08 PM Josie Kressner <notifications@github.com>
wrote:

[2019-08-31 21:36] e-lo commented on #74
I have used the frictionless data table schemas before and am not a super
big fan as it doesn't have much flexibility.

Partridge is designed to not fail on much, true.

I'd almost prefer that we write our own validation method of the Partridge
config.

On Sat, Aug 31, 2019, 1:38 PM Josie Kressner <notifications@github.com>
wrote:

[2019-08-31 23:21] josiekre commented on #57
10-4

[2019-09-03 19:41] i-am-sijia commented on #72
@josiekre

I think this repo was using file from commit [c5a12b8](https://github.com/wsp-sag/client_met_council_network/commit/c5a12b8e3da7a5c54446b5be7f0ca3bd1f1e5c23), which was before I re-clipped st paul city to avoid LFS commit [838bef7](https://github.com/wsp-sag/client_met_council_network/commit/838bef799677ffd5ceed1e1afb43ae09d3f0d6ba).   The new committed version has same # rows as commit

[2019-09-03 20:38] e-lo opened #75 "Update Roadway Property Change Method to use a list of dictionaries"
Make sure it works for new project card schema:

[code]

[2019-09-03 20:44] josiekre commented on #63
- [ ] Update schema to remove "attribute change" from types of cards

[2019-09-03 20:48] josiekre commented on #74
The plan is to loop through all the Pandas columns in TransitNetwork.feed and check them using `type()` against the `Partridge.config` object. Fail if mismatching.

[2019-09-03 20:51] josiekre commented on #75
Linking https://github.com/wsp-sag/network_wrangler/issues/63#issuecomment-525506765 for a note on why the change is required.

[2019-09-03 20:54] josiekre commented on #75
I made this change to the project cards and schema already if you want to see about cherry picking those. Then you'll only need to update the RoadwayNetwork class.

[2019-09-03 21:22] kulshresthaa commented on #75
How would this extend in the case of Managed Lanes project card with TOD information?
[code]

How will the time key be specified if a property can only have set or change?

This is our proposed structure before the change
[code]

[2019-09-06 18:28] i-am-sijia commented on #72
@josiekre,

please check out commit [97d1f2c](https://github.com/wsp-sag/client_met_council_network/commit/97d1f2c1c3fab3842a459d198fae5ec52e54033f) for updates

[2019-09-06 21:39] josiekre commented on #72
@i-am-sijia Looks great!

This issue should close automatically when merged into master.

[2019-09-10 19:41] josiekre commented on #71
@i-am-sijia Here is an updated example of a simple card:

[code]

For transit, you can use `trip_id`, `route_id`, `short_name`, or `long_name` to select transit service. You can optionally also specify a time if you want to be more specific in your selection. The `trip_id`, `route_id`, and `short_name` must match the GTFS data exactly to get a match. The `long_name` uses regular expressions to pul

[2019-09-10 21:20] kulshresthaa commented on #75
completed with c617c5ab916542e46674cfe9f657f17a60483486

[2019-09-10 21:22] kulshresthaa commented on #67
We can close this.

[2019-09-10 21:24] kulshresthaa commented on #30
discussion about example managed lane project card in #68

[2019-09-18 17:27] #55 closed

[2019-09-18 17:27] #72 closed

[2019-09-18 18:32] josiekre commented on #60
Example from PRD:

[code]

[2019-09-18 19:59] e-lo opened #76 "Make time span parsing a Util"

[2019-09-18 19:59] #76 closed

[2019-09-18 20:04] e-lo commented on #30
Per our stand up call today, the team agreed that this is the framework we will work with.

[code]

[2019-09-18 20:07] e-lo commented on #29
Per our stand-up today, when consuming time of day for managed lane project card, should invoke the parse time spans utility to convert the tuple of strings to tuple of seconds from midnight similar to how the transitNetwork now uses it.

https://github.com/wsp-sag/network_wrangler/blob/19cedb8ffba413610f0bd57a03da572edbe3b67e/network_wrangler/Utils.py#L70-L80

https://github.com/wsp-sag/network_w

[2019-09-18 20:13] #58 closed

[2019-09-18 20:13] #56 closed

[2019-09-18 20:14] #57 closed

[2019-09-18 20:14] #63 closed

[2019-09-23 19:37] e-lo opened #77 "Fix auto-documentation formatting across code"

[2019-09-26 23:11] e-lo commented on #29
Fixed in https://github.com/wsp-sag/network_wrangler/pull/68

[2019-09-26 23:11] #29 closed

[2019-09-26 23:12] e-lo commented on #50
Fixed in https://github.com/wsp-sag/network_wrangler/pull/68

[2019-09-26 23:12] #50 closed

[2019-09-26 23:12] e-lo commented on #30
Fixed in https://github.com/wsp-sag/network_wrangler/pull/68

[2019-09-26 23:12] #30 closed

[2019-09-26 23:12] #75 closed

[2019-09-26 23:13] e-lo commented on #52
Fixed in https://github.com/wsp-sag/network_wrangler/pull/68

[2019-09-26 23:13] #52 closed

[2019-09-26 23:13] #67 closed

[2019-09-26 23:15] #39 closed

[2019-09-27 17:31] e-lo opened #78 "Query for 2+ features results in wrong syntax --> failure"
[code]
results in...

[code]

[2019-09-27 17:45] e-lo opened #79 "Query transit by route attribute which are consistent with GTFS"
I should be able to query by attributes of the route table, not just the trip table.

Tried:
[code]
got:
[code]

[2019-09-27 17:50] josiekre commented on #79
@e-lo I'm not at my computer so I cannot test this right now, but you should be able to do:

[code]

Example project card 9 uses `long_name` so this would follow that logic.

[2019-09-27 17:53] e-lo opened #80 "Select by multiple tiers of selection doesn't work."
I should be able to have multiple tiers of querying on trips/routes, but right ow when I run:
[code]

I get:

![image](https://user-images.githubusercontent.com/794787/65790630-e8a16e80-e114-11e9-9f71-27234fa7dc9c.png)

[2019-09-27 18:00] e-lo opened #81 "Write transit visualization wrapper"
*As a user, I'd like to quickly see the transit network to make sure it is valid at a glance*

- [ ] 1. write small wrapper function in transit network class which contains below code.

This is a mouthful to remember:
[code]

![image](https://user-images.githubusercontent.com/794787/65791127-ee4b8400-e115-11e9-83b8-616fee92db4d.png)

[2019-09-27 18:09] e-lo commented on #79
Thanks -  I confirmed that this works.
Question: do we drop the `route_` and `trip_` prefixes of all properties with them?

[2019-09-27 18:35] kulshresthaa commented on #78
fixed in 3b6e874abeb63e27fa6bb5598ec7ea8815e378f8

[2019-09-27 18:42] e-lo opened #82 "Using a 'change' in roadway properties results in a failure"
Tried this:

[code]

Resulted in:

[code]

[2019-09-27 18:45] e-lo commented on #82
BTW if you specify existing it doesn't fail.

i.e.
[code]

[2019-09-27 18:49] kulshresthaa commented on #82
yes, because current setup expects "existing" too, if you specify "change", i.e., "existing" and "change" OR "set".

See [here](https://github.com/wsp-sag/network_wrangler/blob/develop/network_wrangler/RoadwayNetwork.py#L736)

[2019-09-27 18:51] e-lo opened #83 "simplify API for highway property change"
The transit property change API is probably the right level:

[code]
It is easily applied from a project card, or by specifying the facility and properties individually.

Right now the equiv for highway is much more confusing. We should simplify to the above.
[code]

[2019-09-27 19:11] e-lo opened #84 "bug in time selection utility that isn't compatible with transit"
[code]

results in:

[code]

[2019-09-27 19:38] e-lo commented on #82
If we leave it this way, that wont allow us to increment by facilities that we want to shrink or grow but which don't have the same values.  i.e. a facility that varies from 3-4 lanes, but we want to designate one of them a transit lane at all times.

I don't believe we have this same restriction in place for transit?

cc: @josiekre

[2019-10-02 18:08] kulshresthaa commented on #83
@e-lo please review the simplification!

[2019-10-02 18:26] e-lo opened #85 "Add project cards from Log file"
`/examples/stpaul/project cards`

[2019-10-02 18:41] e-lo commented on #84
This is probably my bug, but I'm assigning it to @josiekre because it will probably get fixed faster that way.

[2019-10-02 18:42] e-lo opened #86 "New Highway project card examples"
2-3 examples

[2019-10-02 18:44] e-lo opened #87 "Write tests for new roadway"

[2019-10-02 18:45] e-lo opened #88 "Apply a new roadway project to a roadway network project"

[2019-10-02 20:03] josiekre commented on #79
Generally I followed whatever the GTFS standard is. So I believe it is `trip_id`, `route_id`, `short_name`, and `long_name`.

Would you like to go with something else than the GTFS column names?

[2019-10-02 20:06] josiekre commented on #79
That's not true actually. I lied. GTFS uses `route_short_name` and `route_long_name`. Shall I switch to that?

https://developers.google.com/transit/gtfs/reference#routestxt

[2019-10-02 20:11] josiekre commented on #82
This is not a restriction in place via the schema or the transit implementation.

The schema only requires that either change or set is specified. Existing is always optional.
https://github.com/wsp-sag/network_wrangler/blob/fa34a3120662f9c890a98c0b05871e80a07029a6/network_wrangler/schemas/project_card.json#L184-L229

The transit implementation just checks the existing value against the discovered

[2019-10-02 20:18] josiekre commented on #83
PS Maybe piping automatically works? I am a big fan of piping in the style of R's tidyverse pipes. In Python I think piping works like this:

[code]

See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pipe.html.

Admittedly, piping is maybe better in R's implementation. R would look something like this slightly more readable version:

[code]

[2019-10-02 21:06] e-lo commented on #79
That would be great. I think we should directly use what GTFS uses.

[2019-10-02 22:52] e-lo opened #89 "Mockup runtime functionality"
In order for Met Council to understand what Wrangler would look like at runtime, mock up a few options for them to create network scenarios:

1. Jupyter Notebook with configs in notebook
2. Jupyter Notebook with control files
3. Batch file with control files and reports written

[2019-10-02 22:53] e-lo opened #90 "Allow ad-hoc variables in network"
Confirm ability to add and manage additional network attributes which aren't in the 'standard' network format per MetCouncil request.

[2019-10-02 22:56] e-lo commented on #82
Yes, I think this is what we want.

[2019-10-02 22:57] e-lo opened #91 "Add "apply projects" functionality to scenario"

[2019-10-03 02:12] kulshresthaa commented on #82
done!

[2019-10-03 17:17] i-am-sijia commented on #85
Shall I commit them to master or develop?

[2019-10-03 17:21] kulshresthaa commented on #85
develop

[2019-10-07 16:25] e-lo commented on #90
1. A project card which has `existing` or `change` to a feature should require that that feature already be on the network (or at least throw a fit if it isn't)
2. If we `set` a new field in a project card (even one not in OPTIONAL_FIELDS), we shouldn't be picky about what that is...we should even allow MetCouncil to add new fields that are specific to them in a project card, but maybe just throw

[2019-10-07 16:39] kulshresthaa commented on #90
I agree. "Set" or "Change" is required for each feature (to be added/updated) in the project card. If the feature has "change", we need to make sure the feature exist on the network or throw an error. If it is "Set", we don't care. Wrangler should add a new feature with the set value.

[2019-10-07 16:55] kulshresthaa commented on #85
@e-lo so looks like this iteration of project cards aren't ready to consume? Perhaps we should pick one of them (say AddBridgetoLake.yml) and finalize how it will look like?

[2019-10-07 17:15] e-lo commented on #85
Good idea - please do so

[2019-10-08 21:07] kulshresthaa commented on #85
@e-lo

a simple project card to add new roadway [here](https://github.com/wsp-sag/network_wrangler/blob/develop/example/stpaul/project_cards/AddBridgetoLake_AK.yml)

thoughts?

@i-am-sijia needs to write out the properties that are on the network. Discussed [here](https://github.com/wsp-sag/network_wrangler/commit/3fd93ac78cbe04e83c6f27822739fd42df3ddaa7#r35381889)

[2019-10-08 21:30] e-lo commented on #85
@kulshresthaa I think this is good but for not having anything about the node locations (which I guess is OK so long as they are in the network...but let's not start with that assumption).

The one other consideration I would make (and I'll leave this up to you to decide) is that it might make sense to use the keyword `links` (and `nodes`) instead of `properties` so that it is clearly distinguishe

[2019-10-08 21:38] kulshresthaa commented on #85
yeah, I forgot to ask about the node locations that were we assuming the nodes to be already in the network and links are joining some of the existing nodes or this could include adding new nodes.

I guess we will include nodes keywords and write out nodes in the project card if new nodes are being added?

haha.. I was using `links` but then changed it to `properties` at the last minutes to keep i

[2019-10-08 21:47] kulshresthaa commented on #85
updated.

Also, I forgot what we decided about categories - allowing multiple categories in the same project card or one for each category (with requisites etc. defined if required)? So far, the code is setup to consume one category of change in the project card.

[2019-10-08 21:51] e-lo opened #93 "Create new node #s on the fly"
1. what does OSM do?
2. can we do it with SS?

[2019-10-08 21:51] e-lo commented on #85
Current version looks good so long as you can add the minimum required properties to the nodes (I think it is an xy).

One more thing to think about is node numbers. Easiest thing to do now is to assert one in the project card and just have it fail if it is already in the network (or warn if it is in the network at the same location).  Todo in future and marked in issue #93

[2019-10-08 21:55] kulshresthaa commented on #85
but since for this case (add bridge to lake project card), no new node is added.. just two links b/w the existing nodes, we don't need the nodes properties.
I will include the nodes properties when I define the project card for some other project which involves addition of nodes.

[2019-10-08 21:55] e-lo commented on #91
per discussion in a commit with @josiekre and @kulshresthaa , we will do:

    net.apply(projectcard.__dict__)

which will call more specific apply methods based on the category.

[2019-10-08 21:56] e-lo commented on #90
Confirmed and tested.
cc to @JonathanEhrlichMC confirming that you have this functionality.

[2019-10-08 21:56] #90 closed

[2019-10-08 21:57] e-lo opened #94 "allow multiple changes per project card"
It should handle:

[code]

I will implement this within the updated `apply` functionality.

[2019-10-08 21:58] e-lo commented on #85
Yes...and we should update it so that it can be flexible to allow:
[code]

I created this issue in #94

[2019-10-08 22:00] e-lo commented on #85
Ahhh...I didn't realize that. In that case, we shouldn't require the nodes keyword (although it should be fine leaving it as well).

Just thinking ahead to possibly more complexity...we could add a `shape` keyword if that is what changed.

[2019-10-08 23:38] e-lo opened #95 "copied network or updated network?"
One inconsistency that I see right now between transit and roadway approaches that we should resolve is whether we return a copy of an updated network (what happens right now in roadway) or if we modify the network in place (what happens right now in transit).

My sense is that it is cleaner to do it in place because we don't have to worry about the return of the function and making sure we use th

[2019-10-08 23:42] kulshresthaa commented on #95
I changed Roadway to modify the network in place (and have option to return a copy of updated network) in this commit f254fb73843ff0012288f8819a4ad05ae8587716

[Here](https://github.com/wsp-sag/network_wrangler/blob/develop/network_wrangler/RoadwayNetwork.py#L801) and in_place default is True.

@e-lo where are you seeing Roadway returning copy of an updated network?

[2019-10-08 23:44] e-lo commented on #95
doh - for some reason I was only looking at the bottom of the function...we are all good. Sorry!

[2019-10-08 23:44] #95 closed

[2019-10-09 06:21] kulshresthaa commented on #88
@e-lo simple implementation for adding new links done in 4decc491004d90d4463ee1078d33fb54daf3ebda. Please review!

Questions:
* What to do if new links in the project card has fields which are not in the network? For now, I am just getting the values of fields (from project card) which are on the network and adding a new link with those values.
* What about if not all the link fields in the networ

[2019-10-09 17:41] #78 closed

[2019-10-09 17:46] kulshresthaa commented on #82
new [`validate_properties`](https://github.com/wsp-sag/network_wrangler/blob/develop/network_wrangler/RoadwayNetwork.py#L699) method in 978968af2fce6980b691ed2a8dc17ed76fdc9cb4

[2019-10-09 17:46] #82 closed

[2019-10-09 18:32] DavidOry commented on #93
Group discussion:

Options:
(1) SharedStreets is nice because unique (but who really cares and we'd need to bring into Lasso);
(2) We can re-number new nodes when we're done adding projects (or as we add them), might not be consistency between networks.

Start with (2) have a fixed approach for managed lane dummy (adding a large scalar, i.e., 10000). May be good to pick a gap to a logical number (

[2019-10-09 18:33] DavidOry commented on #93
Cube:
* Maximum zones: 32000
* Nodes: 999,999
* Links: 999,999

[2019-10-09 23:13] e-lo opened #96 "Update project card schema"
*As a user, I'd like the project card schema to validate and reflect current usage in wrangler*

- [x] 1. Allow multiple changes per project card
- [x] 2. Updated schemas for adding/deleting roadways
- [x] 3. Allow `.wrangler`
- [x] 4. Validate!

[2019-10-09 23:14] e-lo commented on #88
Looks good. I added it to the wrapper `apply` method as well.

Yes, we should per request from MetCouncil. This is consistent with how the update properties works now (I wrote tests to make sure, see the [two test that start here](https://github.com/wsp-sag/network_wrangler/blob/5586376fd28a866e932fbc6c403b007c0b76c6fd/tests/test_roadway.py#L259))

Yes. And this should be done via the project card

[2019-10-09 23:16] e-lo commented on #94
This is working functionally, but the project card data schema needs to be updated to reflect this change.

[2019-10-10 06:35] kulshresthaa commented on #88
@e-lo more changes done in 9da734ecac728997b7c1d6f3f719160fd0c9428a. This includes simple and mutiple roadway add and delete changes.

@i-am-sijia I have added two example project cards ([10](https://github.com/wsp-sag/network_wrangler/blob/develop/example/stpaul/project_cards/10_simple_roadway_add_change.yml) and [11](https://github.com/wsp-sag/network_wrangler/blob/develop/example/stpaul/project

[2019-10-10 06:38] kulshresthaa commented on #88
Meaning, we add all the fields (defined in the project card) to the roadway network? In the current implementation, I only bring in properties from the project card that exists on the network. Will revise it, if that's the case.

[2019-10-10 14:37] e-lo commented on #88
Yes, please make sure those tests pass. They shouldn't pass unless you add
any non-existing fields to the network.

On Wed, Oct 9, 2019, 11:38 PM Ashish Kulshrestha <notifications@github.com>
wrote:

[2019-10-10 15:05] kulshresthaa commented on #88
what do you mean? now I am confused!

[2019-10-10 21:24] kulshresthaa commented on #88
I have made the required changes to add/delete roadway features (including multiple categories of changes specified in the project card) and added some test.

We can test it out when we have some "real" project cards to apply for add/delete. cc @i-am-sijia

[2019-10-11 04:10] e-lo commented on #91
Completed and tested.

[2019-10-11 04:10] #91 closed

[2019-10-11 04:11] e-lo commented on #83
I think we are good to go here!

[2019-10-11 04:11] #83 closed

[2019-10-11 04:14] e-lo commented on #86
@kulshresthaa can you add one that includes new links and nodes? Then I think we can call this done.

[2019-10-11 04:15] e-lo commented on #86
Good to go!

[2019-10-11 04:15] #86 closed

[2019-10-11 18:13] i-am-sijia commented on #88
@e-lo @arashasadabadi

I updated project cards to match the latest examples from Ashish.  [5eec644](https://github.com/wsp-sag/network_wrangler/commit/5eec644b5ccfc7fe7091ec46d6c596d6f8d73230)

I removed AREA, COUNTY, ASGNGRP, CENTROID from project card and network standard.  And added some additional fields to network standard, e.g. T_MAINTIME, AADT per previous discussion.  Let me know otherwise

[2019-10-14 05:33] e-lo commented on #88
Thanks for updating!  A few thoughts:

1. If we use the term `travelModelId `to describe the node, should we have something similarly descriptive for link? `travel_model_linkid`?

  - Question: does Cube have a restriction on length of field names?

2. what is `T_MAINTIME`? I couldn't find it in the PRD or in the model files by doing a search via GitHub.

3. AADT seems fine to add.

4. Can we make

[2019-10-14 16:30] i-am-sijia commented on #88
1.  I thought of it, we can change the `LINK_ID` to `travelModelId`.  Can we use same name `travelModelId` for links?  I'm not sure if there's any drawback to use same attribute name given link and node are in separate database.

2.  I meant `T_MANTIME` (sorry about my typo in the comment), the`manually designated transit travel time` which is a manual input for rail links.  Right now it's calcula

[2019-10-15 03:49] e-lo opened #97 "add warning for deleting links/nodes that aren't existing"
in `delete_roadway_feature_change`, need to add a warning (with an optional fail variable) if you are trying to delete a node or link that isn't in the existing network.

[2019-10-15 03:49] e-lo commented on #87
Fixed this so that it passes by adding a method to count links/nodes that are in project cards but aren't in network.  BUT...  I added issue #97  because we do need to warn the user with an option to fail.

[2019-10-15 03:49] #87 closed

[2019-10-15 03:54] e-lo opened #98 "Allow for multiple facilities to have same changes"
Desired outcome: be able to apply the same change to disjointed (not contiguous) facilities, i.e. [here](https://github.com/wsp-sag/network_wrangler/blob/5eec644b5ccfc7fe7091ec46d6c596d6f8d73230/example/stpaul/project_cards/wideningMinneahahaPkwy.yml#L3)

Implementation options (not mutually exclusive):
1. Add option to apply the change to the opposite direction (if it exists) with the flag: `appl

[2019-10-15 04:04] e-lo opened #99 "Make variable names consistently formed"
Desired outcomes:
- all (eventual) cube network variables should be <10 characters to be able to be represented in a dbf/shp [ note, this could be through a crosswalk later ]
- all variables are consistently UPPER/lower/caMel/under_score
- all variable names are legible
- all variable names that could be consistent with ShSt and OSM, should be

Right now, I think that means:
- OSM uses underscores

[2019-10-15 04:04] e-lo commented on #88
@i-am-sijia , since I think this issue is ready to be closed, I moved these conversations to other issues.

1, 2, 3: #99
5: #98

[2019-10-15 04:04] #88 closed

[2019-10-15 05:29] e-lo opened #100 "Profile and address performance issue in apply_all_projects"
The [Scenario Building Notebook](https://github.com/wsp-sag/network_wrangler/blob/master/notebook/Scenario%20Building%20Example.ipynb) is taking a while to run.  I suspect it is from pre-requisite sorting, but we should confirm by:

Options for profiling include print statements to a log file with times...or more likely using [Python's build-in profiler](https://docs.python.org/3.7/library/profile

[2019-10-15 05:38] e-lo commented on #89
Added Option #1

[2019-10-15 17:36] e-lo opened #102 "Update Project Card Schema"
1. Allow multiple changes per project card
2. Updated schemas for adding/deleting roadways

[2019-10-15 17:38] e-lo commented on #98
Fixed ability in code and then added an issue to fix the data schema as #96

[2019-10-15 17:38] #102 closed

[2019-10-15 17:38] #94 closed

[2019-10-15 17:39] #89 closed

[2019-10-15 17:40] e-lo opened #103 "Mockup runtime with Batch file with control files and reports written"
Mockup a (working) version of creating a scenario from a batch file using a control file that is functionally same/similar to [Scenario Building Example](https://github.com/wsp-sag/network_wrangler/blob/master/notebook/Scenario%20Building%20Example.ipynb) notebook.

The purpose of this mockup is to give MetCouncil some options for what it "looks like" to run wrangler.

[2019-10-15 17:45] e-lo commented on #96
1. Allow multiple changes per project card
2. Updated schemas for adding/deleting roadways

[2019-10-15 17:54] e-lo opened #104 "Roadway shape change project cards"
The following types of shape changes could occur:
1.  changes to geometry in shapes_df
2. changes to nodes (which should then also change the shapes)

[2019-10-15 17:54] e-lo opened #105 "Roadway shape change tests"
1.  changes to geometry in shapes_df
2. changes to nodes (which should then also change the shapes)

[2019-10-15 17:55] e-lo opened #106 "Roadway Shape Change Method"
1.  changes to geometry in shapes_df
2. changes to nodes (which should then also change the shapes)

[2019-10-16 22:39] e-lo opened #107 "Add GH access token to Travis to allow Travis to deploy to gh_pages branch"
This needs to be completed by somebody with "ownership" privileges to the repo.

Please follow the [directions on the Travis CI site](https://docs.travis-ci.com/user/deployment/pages/) to get an access token into the Travis CI wrangler repository settings so that the following bit of code that I added will (hopefully) then deploy our compiled documentation to GH Pages (thus rendering our read the

[2019-10-17 16:52] kulshresthaa commented on #107
@e-lo I've added a access token to Travis CI. Tried to build again and it failed to deploy

Preparing deploy
dpl.3
Deploying application
cd /tmp/d20191017-5040-hfm4v1/work
Initialized empty Git repository in /tmp/d20191017-5040-hfm4v1/work/.git/
Switched to a new branch 'gh-pages'
cd -
cd /tmp/d20191017-5040-hfm4v1/work
**rsync: change_dir "/home/travis/build/wsp-sag/network_wrangler/docs/_build/h

[2019-10-17 18:03] e-lo commented on #107
Not sure what part wasn't working, but I played around with how the commands are executed and it seems to run fine now and pushes to the [gh_pages branch](https://github.com/wsp-sag/network_wrangler/tree/gh-pages) correctly...yay!

Q: can you adjust the repo setting to make sure https://github.com/wsp-sag/network_wrangler is pointing to the gh_pages branch rather than to the readme on master?

[2019-10-17 18:07] kulshresthaa commented on #107
yay!!!

Done
![image](https://user-images.githubusercontent.com/13478750/67035264-32ef8d00-f0ce-11e9-8b59-0c4d5c865367.png)

[2019-10-17 18:09] e-lo commented on #98
cc to @kulshresthaa  @i-am-sijia  and @josiekre for your feedback on how to implement.

@i-am-sijia is waiting on this for Lasso project card implementation.

[2019-10-17 18:39] e-lo commented on #107
hoorah - thanks!

[2019-10-17 18:39] #107 closed

[2019-10-18 15:23] JonathanEhrlichMC commented on #93
Comparing two build networks could be annoying with different numbers. @RachelWikenMC

[2019-10-18 15:31] e-lo commented on #93
@JonathanEhrlichMC : I agree.

[2019-10-18 15:40] RachelWikenMC commented on #93
Absolutely agree.  need to have consistent node numbers.

[2019-10-18 18:08] #97 closed

[2019-10-18 18:10] e-lo opened #108 "Confirm docstrings are displaying as desired in compiled documentation"

[2019-10-18 18:12] e-lo commented on #105
Deprioritized for now because right now all of these changes (with exception of a shape change) are taken care of in adding and deleting roadway links.

This is not the ideal solution for a user creating a project card from scratch, but it is how they are created from cube log files anyway.

[2019-10-18 18:12] e-lo commented on #106
Deprioritized for now because right now all of these changes (with exception of a shape change) are taken care of in adding and deleting roadway links.

This is not the ideal solution for a user creating a project card from scratch, but it is how they are created from cube log files anyway.

[2019-10-18 18:13] e-lo commented on #104
Deprioritized for now because right now all of these changes (with exception of a shape change) are taken care of in adding and deleting roadway links.

This is not the ideal solution for a user creating a project card from scratch, but it is how they are created from cube log files anyway.

[2019-10-18 18:15] e-lo commented on #103
@kulshresthaa I re-assigned this task to you as well. It shouldn't be too complicated but please let me know if you have questions.

[2019-10-18 18:27] e-lo opened #109 "add `as_model_net` method"
Travel models require some special treatment of certain links. In particular, managed lanes that may exist in the same facility as general purpose lanes often require separate links in order to assign them separate volume/delay functions.

The wrangler network standard stores managed lanes data alongside general purpose lanes. However, these lanes need to be moved to their own facilities in order

[2019-10-18 18:32] JonathanEhrlichMC commented on #109
Is 10000 high enough? Confirm open number space.

[2019-10-18 18:35] e-lo commented on #109
Yes - we will check this.

[2019-10-18 18:53] JonathanEhrlichMC commented on #37
As @DavidOry and I discussed in general, how "standard", stable, and supported is this format?

[2019-10-18 21:48] kulshresthaa commented on #100
@e-lo Scenario building notebook took only ~45 seconds to run. Not clear on why it is taking a while to run on your end...

[2019-10-21 17:34] e-lo commented on #100
That's awesome! I wonder if something was wrong with my cache or what was going on on my end.  I'll close this for now.

[2019-10-21 17:34] #100 closed

[2019-10-21 18:56] kulshresthaa commented on #103
@e-lo Could you explain a bit more as to what needs to be done? Looking for a batch file to mimic what is done in Scenario Building Example notebook? What will control file specify?

[2019-10-21 19:02] e-lo commented on #103
The basic idea is for the batch file to be static from run-to-run (scenario build-to-scenario build) with the control file (or a header at the start of the batch file with environment variables) dictating things like:
- file and folder names for input/output files
- base scenarios
- projects to include via tag, name, folder, etc

[2019-10-21 19:41] kulshresthaa commented on #103
got it!

[2019-10-21 21:09] josiekre commented on #98
I think both options above are valid and should be implemented. I think allowing facility to be a list is more important.

[2019-10-21 21:37] josiekre commented on #93
I agree to. I asked this during the call when we discussed.

The ShSt "magic" is just a hash function. We should test this, but I think we could recreate the hashing function in Lasso on Intersections (i.e. nodes) without the ShSt overhead. Check out the example in the function linked below; it shows how the hashing of an Intersection works. Step 1: create a string with the same digit accuracy and

[2019-10-21 22:22] e-lo commented on #93
Added to https://github.com/wsp-sag/client_met_council_wrangler_utilities/issues/23

[2019-10-21 23:13] kulshresthaa commented on #103
Where (directory) should this mock-up be placed?

[2019-10-21 23:21] e-lo commented on #103
I'm open to ideas....

A `/bin` folder or the example directory come to mind

[2019-10-22 00:07] josiekre commented on #98
Looks like transit is built already for this. I assumed this would happen eventually, so the first thing I did was convert any of the facility items to a list if it was not already. See https://github.com/wsp-sag/network_wrangler/blob/0f06a39b66d1f34d7a71f96113f7c1b1c952f178/network_wrangler/TransitNetwork.py#L163-L166.

The schema does not allow a list yet though.

[2019-10-22 00:32] josiekre commented on #84
This works the first time you run it, but not the second. This is because `parse_time_spans()` is changing the `transit_selection_daytime` dict in place regardless of the time type inside:

[code]

becomes the following after the first call to `select_transit_features()`:

[code]

@e-lo Do you want me to run a check on the data type (if not int... convert to int. else return.) from the transit sel

[2019-10-22 00:44] josiekre commented on #80
This kind of opens a big can of worms. Right now transit is built to only handle the following for facility selection: `trip_id`, `route_id`, `short_name`, `long_name`, and `time`. The schema requires one of the first four, and allows optionally `time`. See https://github.com/wsp-sag/network_wrangler/blob/0f06a39b66d1f34d7a71f96113f7c1b1c952f178/network_wrangler/schemas/project_card.json#L69-L183.

[2019-10-22 00:51] josiekre commented on #79
Oh I just put a comment about this on another issue. I'll fix it here.

[2019-10-22 01:06] josiekre commented on #80
On thing that is potentially tricky, is that somewhere in the code we have to associate all the possible variables with either a trip or a route, which is different than on the road network. There I think all variables are for links, correct? (I think we said nodes don't get attributes if I remember correctly.)

[2019-10-22 01:21] josiekre commented on #98
Wrote some tests and they are passing. See commit coming with this issue referenced.

[2019-10-22 01:27] josiekre commented on #60
Do you want the link lists to be `LINK_ID` or `shstRefId`? Both are in `/example/stpaul/shapes.txt`.

I suppose I can allow both. Any opposition to both?

cc: @i-am-sijia

[2019-10-22 01:29] josiekre commented on #60
Remind me again what the negative means in your example above?

[2019-10-22 01:30] josiekre commented on #60
Is it that the trip traverses the link but does not have a stop?

[2019-10-22 02:05] e-lo commented on #60
Exactly. No stop.

On Mon, Oct 21, 2019, 6:30 PM Josie Kressner <notifications@github.com>
wrote:

[2019-10-22 02:41] e-lo commented on #80
I would search through both and use whichever you find first? Finding one
first vs the other shouldn't result in different answers (I think...might
want to test that)

On Mon, Oct 21, 2019, 6:06 PM Josie Kressner <notifications@github.com>
wrote:

[2019-10-22 02:42] e-lo commented on #84
Doing a type conversion in this util method shouldn't break anything in
Roadway...but that is also what tests are for 😁

On Mon, Oct 21, 2019, 5:32 PM Josie Kressner <notifications@github.com>
wrote:

[2019-10-22 15:48] josiekre commented on #84
The roadway tests don't run with or without this bug fix for me. All the transit tests pass though. Are they passing for you @e-lo?

[2019-10-22 16:17] josiekre commented on #80
Okay I can do that, but the schema is still a question. Do we allow any field through the schema and let some other error pick it up if it is an invalid variable?

[2019-10-22 16:23] josiekre commented on #80
Maybe we talked about this in #74 but delayed implementation. I'll leave the validation for that task.

[2019-10-22 16:26] e-lo commented on #80
I'm working on the schema but my internet is down for the AM so it might
not be done today. For now you can skip the validation.

On Tue, Oct 22, 2019, 9:23 AM Josie Kressner <notifications@github.com>
wrote:

[2019-10-22 16:55] josiekre commented on #80
FYI I've written the code as if one of `trip_id`, `route_id`, `route_short_name`, or `route_long_name` are still required.

[2019-10-22 17:29] josiekre commented on #80
I wrote a test that gets around the schema validation for now, and the new selection works.

Once the project card schema is loosened to allow any variable in trips/routes tables, then a project card with additional variables should work too.

[2019-10-22 17:51] e-lo commented on #84
Roadway Tests pass locally and on Travis.  Are they all not running or something specific?

[2019-10-22 18:14] josiekre commented on #60
We should probably sort this out on the checkin tomorrow but I will lay it out here.

We need all of the following tables to be able to edit shape and stops by a list of links: `shapes.txt`, `stops.txt`, and `stop_times.txt`. Currently the columns on these files in the `/example` in this repo are...

[code]

A couple questions first:
- Will links, nodes, or both be coming in on the project card fr

[2019-10-22 18:21] josiekre commented on #84
The following fails:

[code]

[2019-10-22 18:22] josiekre commented on #60
Actually the above questions will block me from being able to do any of the rest of the open issues assigned to me. Can we pair today?

[2019-10-22 20:28] i-am-sijia commented on #60
Count me in when you plan to talk.

[2019-10-22 22:22] kulshresthaa commented on #53
done in 3b16707e81f070413a9cd10147da9612e4fba10f

@e-lo please review. Could you work on updating the validation and requirements to not require anything else if a unique id is used for this part?

[2019-10-23 04:20] e-lo commented on #98
@josiekre - it seem as though transit will work this way so long as it is in the same time period...but what if I wanted to change them for all time periods? or some from each?  At this point I think this is an OK limitation, but we should just be explicit about if we can handle it or not.

[2019-10-23 17:44] AshishKuls opened #110 "Usage documentation of scenario building batchfile"
* add a USAGE documentation and example of how to run the scenario building batch file
* add info on it to readme

[2019-10-23 17:57] e-lo commented on #84
10-4. I fixed the second one. Will create issue for first.

[2019-10-23 17:59] e-lo opened #111 "Fix roadway validation test error from read/write"
It looks like the roadway network that we write doesn't pass validation upon being read back in?

[code]

[2019-10-23 18:54] kulshresthaa commented on #111
it's not just roadway network that we write, existing stpaul roadway network also doesn't conform to validation schema (when we change fast to False). Everywhere fast is True, so the reading existing network skips validation for all of the tests!

[2019-10-23 19:00] kulshresthaa commented on #111
![image](https://user-images.githubusercontent.com/13478750/67425342-a8ef6a80-f58c-11e9-8cf3-3bc905879923.png)

[2019-10-23 19:06] josiekre commented on #98
Yes I see what you mean. If we change from `time: [str, str]` to `start_time` and `end_time`, the solution will be fixable I think. In this case, we no longer have time as a special case to filter on, but would instead treat it like any other optional variable and search through the trips, routes, and freqs table match and then filter trips. See https://github.com/wsp-sag/network_wrangler/blob/b23

[2019-10-23 19:07] kulshresthaa commented on #111
@e-lo How does the link schema handles None values in the link data? `access`, `area`, `bridge`, `ref`, `service`, `tunnel` etc does not have values for the links...

[2019-10-23 19:20] josiekre commented on #60
Standing question for @e-lo: Can @i-am-sijia and I ignore `pickup_type`, `drop_off_type`, and `stop_is_skipped` in the `stop_times.txt` file for now? What this means is that we will assume for the model runs that any stop in `stop_times.txt` will be a stop that passengers can get on and off at. Is this simplification okay for now? (This might not match reality because the two feeds in Twin Cities

[2019-10-23 19:27] josiekre commented on #60
Next steps for me:

- [ ] Add graph to TransitNetwork (dependency on RoadNetwork) - lazy load (only when needed)
- [ ] Build optionally run method to rebuild `shapes.txt`, making sure the links traversed are *all* present. This is required to be able to effectively swap out new shapes.

[2019-10-23 19:39] josiekre commented on #62
Next steps:

- [ ] Build graph (depend on RoadwayNetwork) - load lazily as needed
- [ ] Write method to rebuild `shape.txt` to list *all* links traversed along graph (some links might be missing currently)

[2019-10-23 21:05] e-lo opened #112 "Consider switching to start_time and end_time"
This would be consistent with GTFS' `frequencies.txt` file and more legible about what it means...although less consistent with OSM.

[2019-10-24 17:37] josiekre commented on #62
Partridge takes the somewhat weird GTFS format for `shapes.txt` and converts each `shape_id` to a LINESTRING.

[code]

Because Partridge does this conversion, the LINK_ID, ShStRefId, etc get dropped. So we need to do something custom here anyway. What do you think of having a different file with the network-based graph data per route in it? We need to do something custom apart from Partridge anywa

[2019-10-24 17:58] josiekre commented on #62
I looks like I can turn off the `GeoDataFrame` conversion by using a default Partridge config over the default Partridge `geo_config()`. I'm going to try that.

[2019-10-24 22:36] josiekre commented on #111
This is blocking my tests on the transit now too since I need to read in the RoadwayNetwork for the nx graph.

[2019-10-24 22:48] e-lo commented on #111
You can read in with the parameter fast=True and it will skip validation

On Thu, Oct 24, 2019, 3:36 PM Josie Kressner <notifications@github.com>
wrote:

[2019-10-24 23:58] josiekre opened #113 "Add link lengths as weights to nx graph"
Looks like `RoadwayNetwork.ox_graph()` is not loading a length/speed attribute to use in the shortest path algo. Accordingly, a weight of 1 is given to every edge in the graph. (https://networkx.github.io/documentation/latest/reference/algorithms/generated/networkx.algorithms.shortest_paths.generic.shortest_path.html?highlight=shortest_path#networkx.algorithms.shortest_paths.generic.shortest_path)

[2019-10-25 00:11] josiekre commented on #113
Silly me. It's already there.

[code]

[2019-10-25 00:11] #113 closed

[2019-10-29 19:36] kulshresthaa commented on #111
I have updated the link schema to include null to be specified for some values. I changed it for all the fields which are null in the current network.

Had to update type for all these fields - `access`, `area`, `bridge`, `junction`, `tunnel`, `service`, `width`, `ref`, `osmid`, `oneway`, `name`, `maxspeed`, `OSMLanes`, `key`, and  `highway`!

We can decide later if any of above fields should be m

[2019-10-29 19:41] josiekre commented on #62
Things to discuss as a team:

- [ ] ID differences for links and nodes between transit and roadway

[2019-10-29 19:55] josiekre commented on #62
Details for "Use of shapes.txt for graph information":

One shape ID looks like this...

[code]

From Cube, we ideally want to pass nodes IDs into project cards, not link IDs (first or second node ID?).

[2019-10-29 21:32] josiekre commented on #62
Can Cube give me link IDs rather than node IDs? Thoughts on why to add to discussion:

[code]

We cannot tell which links yet, so we have to actually graph them.

[code]

What IDs are being used in the graph? Will they match uniquely with what comes from Cube?

[2019-10-29 22:31] josiekre commented on #62
Even more fun... we cannot use `pd.merge` if one DataFrame stores an ID as `int64` and the other as `object`. Partridge tends to choose objects for all ID fields. I think RoadwayNetwork is using ints.

[2019-10-29 23:25] e-lo commented on #62
object is usually a string in pandas. we can force roadway network to turn
it to a  string (you can do this before a merge)

On Tue, Oct 29, 2019 at 3:31 PM Josie Kressner <notifications@github.com>
wrote:

[2019-10-30 18:29] e-lo opened #114 "Add method to run network continuity check in transit"

[2019-10-30 18:37] e-lo opened #115 "Optionally visualize transit shapes gdfs using roadway true shape."
*As a user who wants to view shapes that are aligned with the real roadway network, I'd like resulting transit shapes and stoptimes to be viewable using the "real shapes" from the roadway network rather than just lines from A to B*

Could be implemented without too much trouble at this point:

Add optional shapes_gdf param in:  https://github.com/wsp-sag/network_wrangler/blob/selection-refactor/ne

[2019-10-30 19:23] josiekre commented on #62
@e-lo developed a new ID naming convention for RoadwayNetwork (https://github.com/wsp-sag/client_met_council_wrangler_utilities/wiki/Highway-Network). @i-am-sijia is going to update the example node table to that, and she is also going to update the sample transit network (specifically `shapes.txt`, `stops.txt`, and `stop_times.txt`) so that they both use node IDs that are internally consistent wi

[2019-10-30 22:05] josiekre commented on #61
Can you provide more context for this issue? Perhaps an example project card?

Here is what I have currently for any routing changes to a transit service.

[code]

[2019-10-30 22:07] josiekre commented on #51
Can you provide an example project card? Mainly this is so that I can get my head around how this will come from Cube and therefore via the project card.

See #61 for the latest example project card on transit.

[2019-10-31 16:23] e-lo commented on #61
Use case: getting a list of transit lines that are using a freeway facility between A and B from agency Z so that I can move them to the managed lane.

Project card: managed lane project card, i.e.

[code]

Currently the RoadwayNetwork network search query will return the links that are involved; so you just need to cross-reference that with the shapes and any other selection criteria (i.e. time o

[2019-10-31 16:26] e-lo commented on #51
basically it should look like a managed lane project card...but
I added a new keyword: `actions`

Open to other ideas

[code]

[2019-10-31 18:46] josiekre commented on #62
This is a question for someone else since I do not interact with Cube, but I wanted to chime in to say that my understanding is Cube will be producing unique node IDs, not link IDs. The plan of attack above assumes node IDs.

[2019-10-31 18:51] josiekre commented on #51
So many questions immediately come to mind...

Where does the graph information come from? How does TransitNetwork know what node IDs to move (existing, set)?

Why not have the project card use a "Transit Service Property Change" type to specify this instead? In the case project cards allow multiple types of changes in one card, Lasso would already have the node list and TransitNetwork could handl

[2019-10-31 18:58] josiekre commented on #61
We decided yesterday that TransitNetwork will in Sprint 7 only have knowledge of nodes. Can RoadwayNetwork return nodes instead?

Generally I think I'm not clear on how a project card with a managed lane (which currently points to a RoadwayNetwork search/action can also be handled by TransitNetwork). These methods (last I checked) were not working in the same way. Where is the general handler abov

[2019-10-31 19:49] e-lo commented on #51
Well one of these is at least easier...

The link list, node list (route), and graph already exist from the selection query done in the roadway network. It can be accessed by using the following methods:

1. searches are stored by selection key, so create a selection key
https://github.com/wsp-sag/network_wrangler/blob/0f06a39b66d1f34d7a71f96113f7c1b1c952f178/network_wrangler/RoadwayNetwork.py#L45

[2019-10-31 19:52] e-lo commented on #51
I think you mean route change?

I'm not sure how Lasso would already have the node list? Wrangler is treating each card individually in apply. In any case, we don't want to rely on Lasso for this functionality...it should be a core wrangler functionality.

[2019-10-31 19:53] e-lo commented on #61
RoadwayNetwork stores nodes from the SP in a dictionary under 'route':

https://github.com/wsp-sag/network_wrangler/blob/0f06a39b66d1f34d7a71f96113f7c1b1c952f178/network_wrangler/RoadwayNetwork.py#L628-L632

[2019-10-31 19:57] e-lo commented on #61
There is a general handler for all project cards in the Scenario class:

https://github.com/wsp-sag/network_wrangler/blob/0f06a39b66d1f34d7a71f96113f7c1b1c952f178/network_wrangler/Scenario.py#L340

We can add functionality in here for us to pass things that the transit apply might need (i.e. the RoadwayNetwork)

https://github.com/wsp-sag/network_wrangler/blob/0f06a39b66d1f34d7a71f96113f7c1b1c952f

[2019-10-31 20:05] josiekre commented on #51
I put them into the same project card type. Is this a problem? Right now we only handle `headway_secs` and `routing` property changes so it seemed cleaner to use the existing functions rather than creating another project card type with a `routing` key instead of a `properties` key.

[code]

[2019-10-31 20:09] josiekre commented on #61
I'll take a look at the above as soon as I can to reorient. The implementation and scope of NetworkWrangler was different in my head up until now.

[2019-10-31 22:59] DavidOry commented on #62
It does not require one, as a link is uniquely defined by it's A and B pair. But it can have a link ID as another attribute, which would then require someone to maintain it. Does that help or are you after something else?

[2019-11-01 13:40] JonathanEhrlichMC commented on #62
OK

[2019-11-04 20:01] #60 closed

[2019-11-05 05:48] #64 closed

[2019-11-05 07:02] kulshresthaa commented on #98
@e-lo Are we changing the `facility` to be a list on the roadway side for this? How would facility items look in a project card for a multiple facility selection, any example? Are we specifying those multiple facilities based on some unique identifiers only (say LINK_ID)?

[2019-11-05 21:50] e-lo commented on #99
@i-am-sijia  updated the file https://github.com/wsp-sag/client_met_council_network in to match[ this schema](https://github.com/wsp-sag/client_met_council_wrangler_utilities/wiki/Highway-Network).  I will copy the st paul test network into network wrangler

[2019-11-05 23:11] i-am-sijia commented on #99
commit [bdb0b50](https://github.com/wsp-sag/client_met_council_network/commit/bdb0b50d31c92221d0f9480705059245703ebe8b)

[2019-11-05 23:45] kulshresthaa commented on #98
@e-lo thoughts? I need an example of how facility list would look like to apply this.

[2019-11-06 00:40] e-lo commented on #98
@kulshresthaa I think you can somewhat design what it would look like, but the idea would be to avoid project files that look like `wideningMinneahahaPkwy.yml` where there are two things that bug me:
1. essentially the same action is performed on a zillion different links (since distance can be calculated)
2. the A, B, and links in the `facility` sections are listed in a manner that makes it easy

[2019-11-06 00:47] kulshresthaa commented on #98
so start by specifying those multiple facilities based on some unique identifiers only (say model_link_id) and then expand?

[2019-11-06 00:54] kulshresthaa commented on #98
although, have we not done this part of the issue in #53? Selecting multiple facility based on some id (or other unique identifiers) and then A/B aren't used.

[2019-11-06 18:39] josiekre commented on #51
- [ ] Add class "global" MANAGED_LANES_SCALAR = 10000 to RoadwayNetwork
- [ ] Create get_managed_lane_nodes() in RoadwayNetwork (adds scalar to existing nodes)
- [ ] Implement apply_feature_change_managedlane() inside TransitNetwork, which will call get_managed_lane_nodes to implement routing change
- [ ] Implement select_trip_id_by_nodes() inside TransitNetwork #61

[2019-11-06 18:49] e-lo commented on #51
@josiekre  - just chatted with @kulshresthaa  and saw that the scalar for nodes will need to be 500,000

[2019-11-06 19:00] #111 closed

[2019-11-06 19:00] #53 closed

[2019-11-06 19:04] kulshresthaa commented on #98
#53 handles selecting multiple links based on list of unique identifiers specified in the project card. Specifying the project card correctly will be taken care in lasso.

[2019-11-06 19:04] #98 closed

[2019-11-06 19:04] #103 closed

[2019-11-06 21:16] kulshresthaa commented on #109
@e-lo How will the `geometry` and `locationReferences` attributes be updated for ML links?

geometry
--
LINESTRING (-93.09035489999999 44.961085,   -93.0889873 44.966861)
LINESTRING (-93.0889873 44.966861,   -93.08844310000001 44.9717832)

locationReferences
--
[{'sequence': 1, 'point': [-93.0903549,   44.961085], 'distanceToNextRef': 654.2165089214, 'bearing': 0,   'intersectionId': '66a881ea213d

[2019-11-06 21:43] e-lo commented on #109
I think they would be copied with a set offset of a few feet so that they
aren't directly on top

On Wed, Nov 6, 2019, 1:16 PM Ashish Kulshrestha <notifications@github.com>
wrote:

[2019-11-07 00:21] kulshresthaa commented on #109
connector (access/egress) links will have the attributes same as GP lanes?

[2019-11-07 20:46] josiekre commented on #62
I think I have something working, where Partridge is now only used to read the GTFS files in.

One interesting tidbit: there's a one-to-many relationship between node IDs from Cube and stop_ids from the GTFS feed. When a routing change comes in on a project card, we have node IDs. Right now, Network Wrangler randomly picks a stop_id if there is more than one stop_id's at that node. This works for

[2019-11-07 21:19] josiekre commented on #62
I should specify that when more than one stop_id exists for a particular node ID, the first match in the stops.txt table is used. It is not actually random. (Remember we need a stop_id because we need it in the stop_times table, since it is a required variable there in GTFS format.) Perhaps consider departing from GTFS to solve this and going with a better-fit data format: a true ordered list (ins

[2019-11-08 00:26] josiekre commented on #115
Beware that a model node ID is not unique to a stop_id. Use the model node ID sequence/list in shapes.txt rather than the stop_id sequence/list in stop_times.

[2019-11-08 00:28] josiekre opened #117 "Streamline apply_transit_feature_change_routing() by modularizing some of its components"
This is not important now, but the code is a bit ugly in this function. Gets the job done correctly and passes tests; that was most important.

[2019-11-08 01:02] josiekre commented on #61
I've implemented this to return any trip_id that uses at least one of the nodes in the list `node_ids`. I've also created an option to require the trip traverses *all* of the nodes.

[2019-11-08 02:59] josiekre commented on #51
- [ ] Query node_ids to identify stops (negative/positive indicators from project cards will not be present when pulling node_ids from RoadwayNetwork.selection.route)

[2019-11-08 03:04] josiekre commented on #51
@e-lo @kulshresthaa Do you have a project card (or other test) you have created already that would have transit service that needs to move? It will otherwise take me a bit of time to think up data for a test. Running out of time available so trying to save where I can.

[2019-11-08 04:18] e-lo commented on #51
we don't. but I'll make one and you can change as you need to

[2019-11-08 05:03] josiekre commented on #51
I think the new St Paul network needs to be brought over to test this cause RoadwayNetwork's graph implementation is possibly using a different ID (OSM?).

[2019-11-08 05:18] e-lo commented on #51
you can pull my branch which passes tests as of now and is ready to be
merged to develop

On Thu, Nov 7, 2019 at 9:03 PM Josie Kressner <notifications@github.com>
wrote:

[2019-11-08 05:21] josiekre commented on #51
Working on it. Merge into my branch is a bit of a doozy. Lots of conflicts.

[2019-11-08 05:27] josiekre commented on #51
Not so bad. Only thing left is `stops.txt` and `shapes.txt`. Did you pull in those updates from Lasso with node IDs instead of link IDs? If so, I'll merge yours over mine.

[2019-11-08 05:50] josiekre commented on #51
I think I resolved the above. I'm guessing you used a Find and Replace on variable names, so I stuck with osm_node_id over osm_link_id (which was the change from your branch).

Any who, after the merge the roadway network example files are the same on my branch as on yours but I'm getting a failure when I try to read it in. With fast=False, schema failure. With fast=True, type error.

[code]

[2019-11-08 05:58] josiekre commented on #51
Did my best. Throwing in the towel for this evening.

Besides testing this last feature (`apply_transit_managed_lane()`) and potentially dealing with different IDs between transit and RoadwayNetwork's graph, I think issues assigned to me for Sprint 7 are completed.

Unfortunately, I'm not available to work on this tomorrow. I may be able to over the weekend if no one can address it before then.

[2019-11-08 06:37] e-lo commented on #51
@josiekre  - i just pushed a project card which you should update (when you get a chance) to be the format that you are expecting...but the node IDs should at least work with the graph.

Did you write a test?  I didn't see one but didn't know if I wasn't looking in the right place.  If not, please prioritize this so that we can evaluate if it is working.

[2019-11-08 07:59] kulshresthaa commented on #109
@e-lo please review. The attributes which are being set is somewhat hard-coded, because different attributes gets calculated differently. Could be cleanup later but does the job for now.

[2019-11-08 16:47] josiekre commented on #51
I have a few tests already for a routing change. I do not have a test for a managed lane project that also changes transit routing.

[2019-11-15 18:43] e-lo commented on #109
It works. Can be streamlined later.

[2019-11-15 18:43] #109 closed

[2019-11-15 18:48] e-lo commented on #84
Fixed in transit shape change PR

[2019-11-15 18:48] #84 closed

[2019-11-15 18:49] e-lo commented on #80
Fixed in transit route change PR

[2019-11-15 18:49] #80 closed

[2019-11-15 18:54] e-lo commented on #79
Fixed in transit route shape PR

[2019-11-15 18:54] #79 closed

[2019-11-15 18:54] e-lo commented on #61
Fixed

[2019-11-15 18:54] #61 closed

[2019-11-15 18:55] e-lo commented on #62
Fixed

[2019-11-15 18:55] #62 closed

[2019-11-15 23:15] e-lo commented on #41
outdated

[2019-11-15 23:15] #41 closed

[2019-11-18 22:46] i-am-sijia opened #121 "point_df_to_geojson() coordinates"
When wrangler writing out node geometry's coordinates https://github.com/wsp-sag/network_wrangler/blob/e5b94678fb2a8c4c34409c8e122110a902abc70b/network_wrangler/Utils.py#L20

The intended code from Geoff Boeing is
`feature['geometry']['coordinates'] = [row[lon],row[lat]]`

I think wrangler is meant to be `feature["geometry"]["coordinates"] = [row["geometry"].x, row["geometry"].y]`,  notice the swi

[2019-11-20 18:47] e-lo commented on #115
Also consider using geopandas schemas for shapes again

[2019-11-20 18:48] e-lo commented on #99
implemented.

[2019-11-20 18:48] #99 closed

[2019-11-21 23:06] e-lo opened #122 "Add variable listing all projects applied"

[2019-11-21 23:57] e-lo commented on #28
closing for now

[2019-11-21 23:57] #28 closed

[2019-11-21 23:58] e-lo opened #123 "Get transit shapes and stops to be stored as geodataframes"
This feature was ripped out when ripping out partridge, but the functionality was useful and should be restored.

[2019-11-22 16:47] josiekre commented on #123
It was ripped out because Partridge's shape DataFrame collapses 1 shape into 1 row with a LineString (dropping the ID field if I remember correctly). This is helpful for shapes when it is actual shape information, but made it hard to search and swap model node IDs when editing the shape.

It's totally possible to use it again, but it'll probably require a re-write of the route/shape editing. The b

[2019-11-22 16:53] e-lo commented on #123
Just to be clear - that issue shouldn't affect the stops, right?  If so then we can just go ahead and re-implement GDFs for that at some point w/out affecting the shape editing.

[2019-11-22 16:55] e-lo commented on #123
And then for the shapes, I remember now why it is so much more straightforward to have them "long-form" rather than collapsing it into a shapely geometry.  Given that, it might make more sense to store the shape geometry (as a shapely object) with the associated `trips`?  Thoughts?

[2019-11-22 17:06] e-lo opened #124 "create_managed_lane_network() creating NaN entries in shapes_df"
`create_managed_lane_network()` seems to create some shapes entries with NaN for geometry and IDs.

Added a hack fix to lasso to .dropna() but this should be fixed in wrangler.

[2019-11-22 22:08] e-lo opened #125 "Check for uniqueness for unique identifiers"
In a validation step, check for uniqueness in unique identifiers that are set for both nodes and links.

[2019-12-03 21:15] josiekre commented on #123
Correct. The stops table stands alone without geographic information, so Partridge does not try to convert it to a GeoDataFrame.

In theory, yes. If I were to design GTFS, I would put each trip's shape geometry into the trip table directly. However, if we are trying to stick with GTFS convention, I would think it would make more sense to keep the shape table as it is intended to be used (as drawn

[2019-12-04 20:53] #51 closed

[2019-12-04 21:48] e-lo opened #127 "Add documentation website to front page of project"
A link to: https://wsp-sag.github.io/network_wrangler/
![image](https://user-images.githubusercontent.com/794787/70184458-bb38ea00-169c-11ea-8608-4d21597d2e9c.png)

[2019-12-05 17:27] DavidOry commented on #127
Done.

[2019-12-05 17:27] #127 closed

[2019-12-05 22:31] #121 closed

[2019-12-17 21:28] e-lo opened #128 "Validation Check for Connectivity Method"
Make sure all the components are connected together for each mode (at the very least for Roadway)
Per https://github.com/wsp-sag/network_wrangler/wiki/Network-Validation-Checks

[2019-12-17 21:28] e-lo opened #129 "Scenario creation report"
Per: https://github.com/wsp-sag/network_wrangler/wiki/Network-Validation-Checks

[2019-12-17 21:38] e-lo opened #130 "Package and put on PyPI"

[2019-12-18 19:17] e-lo opened #131 "Rename standard attributes so they output to < 15 characters"
Because cube requires all network attributes to be < 15 characters

[2019-12-19 19:24] e-lo opened #132 "Visual Validation Report"
To show how projects that have been implemented:

Per https://github.com/wsp-sag/network_wrangler/wiki/Network-Validation-Checks

[2019-12-19 23:31] #131 closed

[2019-12-24 21:46] kulshresthaa commented on #124
@e-lo `geometry` attribute for new links (managed lanes, access and egress connectors) wasn't getting calculated and therefore it was missing. IDs are missing for some existing shape data too and the code isn't generating id's for new links. Not sure how the ids are defined for shapes or if the id can be retrieved from some other network data (link/nodes).

[2020-01-06 20:45] e-lo opened #133 "Validate Transit: catch zero frequency lines"
From Wrangler 1.0: make sure there aren't transit lines w/ zero frequencies for all time periods

[code]

[2020-01-06 20:46] e-lo opened #134 "Validate Transit: make sure all transit stops are part of the roadway network"
From Wrangler 1.0...

[code]

[2020-01-06 20:48] e-lo opened #135 "Transit Method: Get Combined Frequency"
from Wrangler 1.0

[code]

[2020-01-06 20:52] e-lo opened #136 "Validate Transit: make sure all transit links in shape are part of roadway network"
From Wrangler 1.0:

[code]

[2020-01-15 19:08] kulshresthaa commented on #128
@e-lo the idea to check for connectivity here means that we find nodes (if any) which aren't connected to any links in the network, right?

[2020-01-15 19:59] kulshresthaa commented on #128
any useful functions from networkx for this is NOT implemented for a directed graph. I will have to write own function to check for connectivity, that's why wondering the functionality....

[2020-01-17 23:13] kulshresthaa commented on #125
@e-lo is this not already implemented [here](https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/RoadwayNetwork.py#L253)?

[2020-01-18 00:12] kulshresthaa commented on #133
Done

[2020-01-20 18:38] kulshresthaa commented on #134
@e-lo where exactly should these checks be done.. while reading transit network or separate calls on the network after transit network is being read?

`net = TransitNetwork(feed=new_feed, config=updated_config)`

and have the check in constructor?

[code]

or

`net = TransitNetwork(feed=new_feed, config=updated_config)`
`net.validate_frequencies()`

[2020-01-20 19:41] e-lo commented on #134
For the frequency check having it in the constructor sounds good and then having a variable that you set to confirm that check has been completed after each change/alteration.

So

`self.validated_zero_frequency = False`
`self.validated_road_network_consistency = False`
...until the appropriate methods are run which set them to True

For the road node check: Because you  can have a transit network

[2020-01-20 21:55] kulshresthaa commented on #134
@e-lo Can you check the IDs I used to compare the transit stops vs roadway nodes [line 153 and 154 here](https://github.com/wsp-sag/network_wrangler/blob/sprint8_ak/network_wrangler/TransitNetwork.py#L153) and transit shapes vs roadway links [line 184 and 185 here](https://github.com/wsp-sag/network_wrangler/blob/sprint8_ak/network_wrangler/TransitNetwork.py#L184)?
Test is indicating MANY missing

[2020-01-20 22:06] e-lo commented on #134
I can't look at this right away, but @i-am-sijia might be better to look at this anyhow since she understands the source better.

[2020-01-20 22:25] i-am-sijia commented on #134
@kulshresthaa Can you please try with the latest network that I committed in the develop branch:
https://github.com/wsp-sag/network_wrangler/commit/508062a09725961816e30c0f4b811b48b5d9322f

[2020-01-20 22:55] kulshresthaa commented on #134
I updated the network with latest version. However there are still MANY missing stops and shapes in the transit network.

I am using "model_node_id" (`TransitNetwork.FK_STOPS`) from transit network and "model_node_id"(`Roadway.NODE_FOREIGN_KEY`) from roadway network to compare the stops and nodes.

I am using "shape_model_node_id" (`TransitNetwork.FK_SHAPES`) from transit network and "model_link_i

[2020-01-20 23:29] i-am-sijia commented on #134
I can think of two reasons:

1.  Transit shape ("shape_model_node_id") should be compared to roadway node ID ("model_node_id"), see [PRD](https://docs.google.com/document/d/1OM2tdbjBxbRHBLeyF-eBCfbR_41DhzggeGJQ9gPSZ8g/edit#heading=h.wmeqskhyto8p).

2.  Some transit routes probably have parts that extend outside of the St Paul city, which means there will be nodes and shapes that are not written ou

[2020-01-21 20:00] kulshresthaa commented on #134
@e-lo can you look into this when you get a chance?

[2020-01-21 23:53] e-lo commented on #128
Getting an error when running `fig, ax = net.network_connection_plot()`
![image](https://user-images.githubusercontent.com/794787/72853372-0f585780-3c66-11ea-836e-bed8ea802ef5.png)

[2020-01-22 00:00] kulshresthaa commented on #128
huh! I have version '2.3' and had no problem with `strongly_connected_component_subgraphs`

Google search: Seems like it's present up till 2.3, and removed in 2.4. :(

[2020-01-22 00:13] e-lo commented on #128
Let's see if I can downgrade without wreaking havoc on other things. I'll keep you posted.

[2020-01-22 00:15] kulshresthaa commented on #128
dont downgrade, fixed the error. Hope this one works.

https://networkx.github.io/documentation/networkx-2.3/reference/algorithms/component.html

https://networkx.github.io/documentation/stable/reference/algorithms/generated/networkx.algorithms.components.strongly_connected_components_recursive.html#networkx.algorithms.components.strongly_connected_components_recursive

[2020-01-22 18:58] kulshresthaa commented on #129
@e-lo Can you help me with setting up a separate logger in the code which is only used to log the scenario creation report?

[2020-01-22 19:21] e-lo opened #138 "Trim transit to St Paul area"
+ add a light rail segment

[2020-01-22 19:23] e-lo opened #139 "shshReferenceId not ShStReferenceId"
I think?
If so, lets make sure that change proliferates throughout the networks.

[2020-01-22 19:25] e-lo opened #140 "Missing AB Nodes in StPaul network"
Got:
[code]

Reason seems to be:
![image](https://user-images.githubusercontent.com/794787/72926739-c6f27580-3d09-11ea-87b3-35738b0e84b4.png)

[2020-01-22 19:51] i-am-sijia commented on #140
I don't see those links in the St Paul network, are you using the latest network from [develop branch](https://github.com/wsp-sag/network_wrangler/tree/develop/examples/stpaul)?

[2020-01-22 19:52] i-am-sijia commented on #138
Are you using the network from [develop branch](https://github.com/wsp-sag/network_wrangler/tree/develop/examples/stpaul)?

[2020-01-22 19:53] i-am-sijia commented on #139
Are you using the network from [develop branch](https://github.com/wsp-sag/network_wrangler/tree/develop/examples/stpaul)?

[2020-01-22 20:04] e-lo commented on #139
I'm on sprint8_ak

[2020-01-22 20:04] e-lo commented on #140
sprint8_ak branch

I wonder if these were created somehow?

[2020-01-22 20:10] i-am-sijia commented on #139
![image](https://user-images.githubusercontent.com/28812722/72930113-3cba0980-3d29-11ea-8d1c-1c4fadabe7c0.png)

sprint8_ak has `shstReferenceId`

[2020-01-22 20:13] e-lo commented on #140
@i-am-sijia - i think these were actually created network links, so let's add in @kulshresthaa and remove you from being responsible :-)

[2020-01-22 20:27] kulshresthaa commented on #140
@e-lo which project cards you applied to create the my_scenario from base network?

[2020-01-22 20:45] i-am-sijia commented on #139
Actually, are you referring to the `node.geojson`?  It has a key `ShStReferenceId`.   Wiki has it:

![image](https://user-images.githubusercontent.com/28812722/72932656-2e222100-3d2e-11ea-9cd5-160cb7632832.png)

[2020-01-22 20:59] e-lo commented on #140
13_simple_roadway_delete_change.yml
9_simple_transit_attribute_change.yml
1_simple_roadway_attribute_change.yml
10_simple_roadway_add_change.yml
8_simple_transit_attribute_change.yml
4_simple_managed_lane.yml
7_simple_transit_attribute_change.yml

[2020-01-22 21:04] e-lo commented on #139
I must have meant node :-/ sorry!

Well we should be consistent with what shared streets uses and across links and nodes. Which is it?

[2020-01-22 21:14] i-am-sijia commented on #139
just `id`

https://github.com/sharedstreets/sharedstreets-ref-system/blob/00e8a872ef9cd62d974552a43bab32502eea181f/proto/sharedstreets.proto#L107

[2020-01-22 21:19] e-lo commented on #139
I think it is `shstReferenceID` per [this post](https://medium.com/sharedstreets/getting-started-with-the-sharedstreets-referencing-system-matching-a-citys-gis-data-2ee2577604e3)

[2020-01-22 21:20] e-lo commented on #139
I will change in wiki and elsewhere as I find...

[2020-01-22 21:30] i-am-sijia commented on #139
I'm looking at their [referencing system doc](https://github.com/sharedstreets/sharedstreets-ref-system).  That post talks about the return of shst match, which I found somehow does not use the same names as in their ref system.

IF to be consistent with ref system, we still need to change:

node.geojson:
- `id` not `ShStReferenceId`
- `outboundReferenceIds `not `outboundReferenceId`
- `inboundRef

[2020-01-22 21:32] i-am-sijia commented on #139
`shstReferenceId` in that post is referring to links I think?

[2020-01-22 21:57] e-lo commented on #139
So would you propose that we make all the changes in your reply above?

[2020-01-22 22:02] i-am-sijia commented on #139
with two exception, I like:

node.geojson:
- `shstReferenceId`

link.json:
- `shstGeometryId`

but that means we will not be consistent with their doc...

[2020-01-22 22:15] e-lo commented on #139
I'm fine with that.

[2020-01-22 22:46] kulshresthaa opened #141 "Duplicated apply method in TransitNetwork"
`apply` is duplicated in TransitNetwork - [1](https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/TransitNetwork.py#L224) and [2](https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/TransitNetwork.py#L169)

Based on the comments and code, 2 appear older when managed lane was not implement in transit

[2020-01-22 22:48] kulshresthaa commented on #141
removed duplicated code.

[2020-01-22 22:49] e-lo commented on #141
Great sleuthing!

[2020-01-22 22:49] #141 closed

[2020-01-22 23:51] kulshresthaa commented on #140
it is coming from applying the project card `10_simple_roadway_add_change.yml`, which is adding those two links with `model_link_id` 404982 and 407042.

The issue is that project card does NOT define the A and B attributes for those new links.

Can A and B be computed or they have to be defined for new roadways? I forgot, what are A and B?

[2020-01-23 00:02] e-lo commented on #140
A and B are the model node ids.
We need to create stable ones. I had forgotten about: https://github.com/wsp-sag/network_wrangler/issues/93

I think we decided that for now it seems like we should require them in the project card file so that we aren't rolling the dice each time.

For the particular example it looks like u and v should actually be A and B.  @i-am-sijia  can you confirm?

[2020-01-23 05:48] e-lo commented on #140
Changed UV to AB.

[2020-01-23 05:48] #140 closed

[2020-01-23 05:50] e-lo opened #142 "Check for same AB combo when adding links"
When applying a road addition project, fail when AB is same as AB already in network.

[2020-01-23 05:53] e-lo opened #143 "Implement Transit Link Deletion checks"
Currently stubbed with:

[code]

Should have a method that rechecks transit/road compatibility and lists out helpful things such as:
- what routes affected
- what a reroute could be

[2020-01-23 14:26] i-am-sijia commented on #140
Yes, Lasso writes out A, B in project cards.

[2020-01-23 17:34] kulshresthaa commented on #134
changed the code to compare transit shape ("shape_model_node_id") to roadway nodes ("model_node_id").

Waiting on new transit network (#138) to finalize these transit validation checks.

[2020-01-23 17:40] kulshresthaa commented on #142
if multiple links are being added in the project card and only one link has same AB as AB already in the network. Does the check fails applying the entire project card or add all the valid links and logs error for that one link?

[2020-01-23 18:13] e-lo commented on #142
I'm not sure it matters since it will be a fatal error? That said we will
want the duplicate ABs to be printed in the error code.

On Thu, Jan 23, 2020, 9:40 AM Ashish Kulshrestha <notifications@github.com>
wrote:

[2020-01-23 18:48] kulshresthaa commented on #142
done!

[2020-01-23 18:49] kulshresthaa commented on #128
Done!

[2020-01-23 18:52] kulshresthaa commented on #129
@e-lo Help needed to setup a new logger just for scenario log summary [here](https://github.com/wsp-sag/network_wrangler/blob/sprint8_ak/network_wrangler/Scenario.py#L560). :)

[2020-01-25 05:13] e-lo commented on #132
Overall this is really great.

Could you please make sure you can see all the relevant info though?  I think this is just a settings issue . but it cuts off:

![image](https://user-images.githubusercontent.com/794787/73116628-548eba80-3eee-11ea-970f-fd613165cf33.png)

[2020-01-25 05:21] e-lo commented on #142
Awesome! I just checked it out and seems to work great. Thanks for adding a test. I just added a [@py.mark.xfail](http://doc.pytest.org/en/latest/skipping.html) marker to it so that we can run it in travis and expect it to fail.

[2020-01-25 05:21] #142 closed

[2020-01-25 06:33] e-lo commented on #138
I see that you clipped some, but there are still stops that are outside of St Paul, i.e.

`50212,,Lake St W & Girard Ave S,Far side E,44.948311,-93.296729,`

https://raw.githubusercontent.com/wsp-sag/network_wrangler/develop/examples/stpaul/stops.txt

[2020-01-25 06:36] e-lo commented on #129
Howdy! I'm not sure of how to set up another logger necessarily (although google might?), but you could just write it to a txt file...

[2020-01-25 06:36] #139 closed

[2020-01-25 06:37] #133 closed

[2020-01-25 06:38] e-lo commented on #125
yes! sorry.

[2020-01-25 06:38] #125 closed

[2020-01-25 16:02] e-lo commented on #134
This works!  Too well...there are still a bunch of stops that aren't part of the network :-) (so far i think it is just a clipping issue).

But...at some point might be good to also make this visual :-) . I'll add as separate task.

[2020-01-25 16:02] #134 closed

[2020-01-25 16:03] e-lo opened #144 "Visualize transit stops that aren't matching with roadway network"

[2020-01-25 16:03] #124 closed

[2020-01-25 16:40] e-lo commented on #128
Overall this seems to work really well, although I have two requests:

1. There doesn't seem to a way to return the actual nodes that are disconnected so that if I wanted to look in the raw network files I could look at where the connection fails.

2. Could you elaborate on what exactly `ignore_end_nodes` means? In particular, this map seems to show that a zillion roadway nodes would be disconnect

[2020-01-25 16:41] e-lo commented on #128
One more question: do the colors on the map mean anything?

[2020-01-25 19:19] e-lo commented on #136
So right now this network is valid against shapes, but not for stops:

![image](https://user-images.githubusercontent.com/794787/73126177-63b04f80-3f64-11ea-875f-ef3d2ed74566.png)

This might be useful information to know...but this method is just returning "false".

Suggestion: log a warning `WranglerLogger.warning(...)`

[2020-01-25 20:42] kulshresthaa commented on #132
done!
`pd.set_option('display.max_colwidth', 1000)`

[2020-01-26 06:47] kulshresthaa commented on #129
done! writing to a text file.

[2020-01-26 06:54] kulshresthaa commented on #136
both `validate_transit_stops` and `validate_transit_shapes` writes out the error message to logger. So if the network is valid against shapes but not for stops, logger should have the corresponding error message for stops and listing which stop ids are not in the roadway network.

[2020-01-27 17:29] kulshresthaa commented on #128
Colors does not mean anything.. just random colors to show different disconnected sub-graphs!

[2020-01-27 18:33] kulshresthaa commented on #128
Done. method returning both plot and list of nodes now.

[2020-01-27 19:17] kulshresthaa commented on #128
We are identifying the strongly connected components in the graph, A graph is strongly connected if each vertex is reachable from every other vertex. If the graph is strongly connected, `strongly_connected_components` returns one big graph, otherwise it returns a list of subset nodes/graphs which are "strongly connected".

It returns single nodes too (if any) and I thought those single nodes are t

[2020-01-28 00:45] kulshresthaa commented on #128
done in 40c5aaac5c55ceaf0c15fd190e8509d2e5d94a58 and 05fc61876ca13a544b6e06a5b35a29bbbd289809.

found the issue! when mode was specified, I was only filtering out the links and NOT filtering out the nodes. Now, this looks OK, with all of highlighted nodes being the end nodes.

![image](https://user-images.githubusercontent.com/13478750/73226282-5641c380-4124-11ea-82ff-8440b5409515.png)

[2020-01-28 18:50] e-lo commented on #128
--> meaning that colors near each other that are the same color are likely part of the same subgraph?

[2020-01-28 18:50] e-lo commented on #128
--> much better, yay!

[2020-01-28 18:56] e-lo commented on #128
Awesome, thanks! I might do some slight reworking of the API because:
A) we should be able to get the list of nodes from the og method rather than plot(), and

B) I'm getting some errors when I run *sometimes* (always the worst)

standby.

[2020-01-28 19:00] kulshresthaa commented on #128
CORRECTION: Nodes of same "disconnected" sub-graph are same color.

[2020-01-28 23:46] e-lo opened #145 "walk links that connect to nodes that are not walk nodes"
The network connectivity tools that @kulshresthaa put together have been helpful in finding a few things with the network (thanks!).

This issue notes that there are nodes (rail nodes, mainly) which have walk access links to them...but are not marked as a walk_node in the network.  Thus, when filtering nodes by mode, they are filtered out.

![image](https://user-images.githubusercontent.com/794787

[2020-01-28 23:53] e-lo commented on #128
All done!

[2020-01-28 23:53] #128 closed

[2020-01-29 18:16] i-am-sijia commented on #145
I missed flagging transit nodes to be walk accessible after adding the walk access links.  I will fix this.  Thanks!

[2020-01-30 21:50] e-lo opened #146 "Transit Route Change: Need to create a different shape_id if it is being used by more than one trip."
`_apply_transit_feature_change_routing()` changes the shape, but the shape can be used by more than one route or trip (depending on which was queried).

If the shape_id is being used by more than one trip/route and that trip/route aren't in the existing query:
---> copy shape and create a new shape_id
---> produce a WranglerLogger.warning message that lets you know that other routes/trips that wer

[2020-01-30 21:52] #138 closed

[2020-01-30 21:52] #132 closed

[2020-01-30 21:52] #136 closed

[2020-01-30 22:44] e-lo opened #147 "Add new stop if required for routing change."
Right now we get a value error if something isn't already listed as a stop and we try and make it one.

Desired behavior would be to create a new stop.

[code]

[2020-01-30 23:10] e-lo opened #148 "Update tests in `test_transit_with_roadway.py`"
With the network update, most of the tests in `test_transit_with_roadway.py` don't work anymore.

When fixed, please remove `pytest.mark.skip()` function decorator.

[2020-01-30 23:22] e-lo opened #149 "Address pandas warnings in order to use pandas 1.0...at which point they become fails"
Pandas 1.0 is released and that means it is time to address the pesky pandas warnings...because in 1.0 they are now fatal errors!

[2020-01-30 23:23] e-lo commented on #114
I  added some stub methods to check for foreign keys, but haven't implemented yet. Wondering if [Peartree](https://github.com/kuanb/peartree) has any of this functionality?

[2020-02-05 18:57] e-lo commented on #122
@kulshresthaa  was this actually implemented in what you did?

[2020-02-05 18:58] #145 closed

[2020-02-05 18:59] e-lo commented on #93
Right now  for the MetCouncil process we are adding any A and B nodes using Cube and the base network so I will close this issue until it becomes necessary for anybody's workflow down the road.

[2020-02-05 18:59] #93 closed

[2020-02-05 19:00] e-lo commented on #74
Doing this somewhat now.

[2020-02-05 19:00] #74 closed

[2020-02-05 19:00] e-lo commented on #77
This is mostly complete.

[2020-02-05 19:00] #77 closed

[2020-02-05 19:08] kulshresthaa commented on #122
Is this for a scenario? If yes, we have the projects applied for a scenario in `applied_projects` variable [here](https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/Scenario.py#L46).

[2020-02-05 19:17] #108 closed

[2020-02-05 19:17] #122 closed

[2020-02-06 22:02] jhelsel11 opened #152 "Problem with fiona"
I'm trying to install network wrangler using the instructions in the readme. I'm getting hung up trying to install fiona. It appears that this can be solved using a local wheel file (https://stackoverflow.com/questions/54759284/provide-a-path-to-gdal-config-using-a-gdal-config-environment-variable-error-whi).

Have either of you run into this issue before? Is there a reason not to use the 1.8.4 64

[2020-02-06 22:24] e-lo commented on #152
Howdy! PIP doesn't do a good job of this, but conda does a better job. I believe all the instructions say to use conda but LMK if I forgot a place?

You should be able to run:
[code]

[2020-02-06 22:36] jhelsel11 commented on #152
I'm not sure exactly how but I was able to install Fiona by itself (it failed once and the wheel file didn't work but conda install Fiona worked the 3rd? time I tried) and that seems to have done the trick.

[2020-02-07 04:29] e-lo commented on #152
The part of fiona that was having trouble was GDAL, which conda should install correctly but pip wont on windows. I'll update the readme to recommend using conda for fiona,  geopandas, and shapely (the troublesome trio)

See this for similar issue:
https://stackoverflow.com/questions/54734667/error-installing-geopandas-a-gdal-api-version-must-be-specified-in-anaconda/54734864#54734864

[2020-02-11 18:30] e-lo opened #153 "Unique ID checks in GTFS datas"
i.e. `stop_id`

see: https://github.com/wsp-sag/client_met_council_network/issues/31

[2020-02-12 19:39] e-lo opened #154 "Transit Network Subnetwork Slice"
In order to create smaller networks to examine with small runtimes.

[2020-02-12 19:39] e-lo opened #155 "Highway Network Subnetwork Slice"
To create subnetworks.

[2020-02-12 19:41] e-lo opened #156 "Create ability for transit network to create unique stop_ids/shape_ids/route_ids when collisions expected"
GTFS Network requires unique:

- agency_id
- stop_id
- shape_id
- route_id
- trip_id

...anything else?

[2020-02-12 19:46] kulshresthaa commented on #149
@e-lo How did you test the pandas 1.0 errors? Just run `roadway`, `transit` etc tests?
I upgraded pandas to 1.0 on my machine, do I need to update the requirements (or some other place) to use 1.0 version in wrangler?

[2020-02-12 23:57] e-lo commented on #149
Yes, I ran the tests.

It is basically all the warnings you get in previous versions of pandas that have been translated to errors.

If you are using a virtual environment to test wrangler you'll need to upgrade it there.

[2020-02-14 21:21] e-lo commented on #130
On PyPI: https://pypi.org/project/network-wrangler/

[2020-02-14 21:21] #130 closed

[2020-02-14 21:21] #129 closed

[2020-03-06 23:51] jhelsel11 opened #157 "Must restart Jupyter Kernel to change scenario definition"
Elizabeth,

I manually created a yml file to handle the parallel managed lanes case for I394. (https://github.com/wsp-sag/client_met_council_network/blob/base_network_project_cards/project_cards/base_i394_parallel_managed_lane.yml)

And now I'm trying to read it into network wrangler using the Scenario Building Example (with suitably changed paths). create_scenario() is causing problems where it t

[2020-03-07 00:22] jhelsel11 commented on #157
Also, is there a way to create a base scenario without transit? I see this set of errors:
![image](https://user-images.githubusercontent.com/29383881/76132204-83f11680-5fc6-11ea-8b23-09fa93d2b636.png)

[code]

[2020-03-07 00:23] jhelsel11 commented on #157
(The create_base_scenario function seems to imply that there must be a transit component. Is that right?
[code]

Do I get around this by using create_scenario() instead?

[2020-03-11 18:06] jhelsel11 opened #158 "Confusing name of transit directory"
Also, is there a way to create a base scenario without transit? I see this set of errors:
![image](https://user-images.githubusercontent.com/29383881/76132204-83f11680-5fc6-11ea-8b23-09fa93d2b636.png)

[code]

[2020-03-11 18:20] jhelsel11 opened #159 "Would like to add attributes to managed lane only"
We would like to add an attribute to the managed lane only (e.g. HOV for met council).

[2020-03-11 21:27] e-lo opened #160 "Add static method to create empty transit instance"

[2020-03-11 22:40] e-lo opened #161 "StPaul Road/Transit Network seem out of sync"
StPaul Road/Transit Network seem out of sync with many stops not showing up when running: `def test_transit_road_consistencies`

[code]

[2020-03-11 22:54] e-lo commented on #158
Fixed in 430b487
Now there are two optional kwargs: transit_dir and roadway_dir

[2020-03-11 22:54] #158 closed

[2020-03-11 23:48] e-lo commented on #157
This is an issue with the Jupyter kernel. It would be great if we could find a way to clear the cache.

[2020-03-12 17:40] jhelsel11 commented on #158
@e-lo, will you test run the loading?

It fails for me if I have no transit directory because it still tries to do something with the validate key inside the transit functions.

[2020-03-13 17:56] jhelsel11 opened #162 "Add "change" keyword in parallel managed lanes"
It would be super helpful to be able to use the change keyword in setting the lane property in a managed lane project. That way the user wouldn't need to know the number of lanes/create a link id group for each lane width over the course of a project.

I am experimenting with putting both the managed lane add and roadway property change in a single project card and if that works I will try to look

[2020-03-13 18:09] jhelsel11 commented on #157
I'm seeing this same issue in anaconda prompt where I've updated a project card but using `my_scenario=None` doesn't reset the scenario. Is the workflow that I need to redo create_base_scenario?

Would it be possible to add a function that removes `applied_projects`?

[2020-03-13 18:16] jhelsel11 commented on #157
(I guess I'm somewhat confused, because I would have thought that "Scenario" would attach to the variable being assigned, so I don't expect creating my_scenario would change base_scenario, but that's what is happening as far as I can tell.)

[2020-03-13 20:14] jhelsel11 opened #163 "create_scenario is very slow"
@e-lo, create_scenario is very slow to load even one project card on the full network. @DavidOry asked me to to ask you to investigate this slowdown. We can discuss on our call next week.

[2020-03-13 22:59] josiekre commented on #147
What ID system do I assume for creating a new Node ID? I assume a UUID would break Cube.

[2020-03-13 23:03] e-lo commented on #147
Hah, yes...no UUIDs here. The stop node ID should be the same as the node ID in the network.

[2020-03-13 23:07] josiekre commented on #147
Fast reply-- I answered my own question by realizing the model node ID will already be provided. I need to make up the GTFS stop_id and get a lat/lon. So I'm getting an example scenario loaded up now to refresh my mind on where all that is stored.

Looks like my conda env needs updating to add a new `folium` dependency.

[2020-03-13 23:07] e-lo commented on #159
Just confirmed that this functionality actually already exists in [`create_managed_lanes_network`](https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/RoadwayNetwork.py#L1656)

https://github.com/wsp-sag/network_wrangler/blob/4fae96b0ee9785639587ceae2fe196c727097e3d/network_wrangler/RoadwayNetwork.py#L1678

[2020-03-13 23:07] #159 closed

[2020-03-13 23:09] josiekre commented on #147
Anyway, getting up to speed... I'll let you know if I get stuck.

[2020-03-13 23:13] e-lo commented on #162
Reassigning this to @kulshresthaa

(At least) three code chunks that need to be fixed:

https://github.com/wsp-sag/network_wrangler/blob/4fae96b0ee9785639587ceae2fe196c727097e3d/network_wrangler/RoadwayNetwork.py#L1238-L1240

https://github.com/wsp-sag/network_wrangler/blob/4fae96b0ee9785639587ceae2fe196c727097e3d/network_wrangler/RoadwayNetwork.py#L1253-L1255

https://github.com/wsp-sag/network_w

[2020-03-14 01:09] josiekre commented on #147
Do you have a test already built for this (hence why the issue needed to be fixed), or should I create new tests?

[2020-03-14 02:22] josiekre commented on #146
Besides a test, this also is done.

[2020-03-14 20:53] e-lo commented on #146
Please add a test. I think this was found muddling around ...not in a test
environment

On Fri, Mar 13, 2020, 7:22 PM Josie Kressner <notifications@github.com>
wrote:

[2020-03-17 17:31] e-lo opened #164 "Make Managed Lane apply safe to apply when there are already managed lanes"
Example of problematic code if you have a managed lane in network and want to add another:

[code]

Please also add a test so that we can make sure it works (and that we don't break it in the future!)

[2020-03-17 23:12] kulshresthaa opened #167 "Error in applying managed lane project"
Details discussed [here](https://github.com/wsp-sag/Lasso/issues/65).

[2020-03-17 23:30] kulshresthaa commented on #162
@jhelsel11 You have an example project card with "change" keyword for the managed lane project? How is "change" going to be different than "set"?

[2020-03-17 23:33] jhelsel11 commented on #162
Change should override the current value wityan increment rather than set the value. That way if a road changes lanes from 4 to 3 to 4 and you want one of them to be an hov, you don't need to know which lanes started with which value

[2020-03-17 23:37] kulshresthaa commented on #162
I see. So you want "change" as keyword in manage lane card, the same way we have it defined in other cards functionality (roadway attribute change).

[2020-03-17 23:53] jhelsel11 commented on #162
Yes

[2020-03-18 00:54] kulshresthaa commented on #162
@e-lo Not sure if this is straightforward.

Example project card for discussion:
  - property: lanes
    set: 3
    timeofday:
      - time: ['6:00', '9:00']
        set: 2
  - property: ML_lanes
    set: 0
    timeofday:
      - time: ['6:00', '9:00']
        set: 1
  - property: ML_access
    set: 'all'
  - property: ML_egress
    set: 'all'

If attribute doesn't exist in the network:

- "change

[2020-03-19 00:05] e-lo commented on #162
For now this is "won't fix" for this round. Sounds like Met Council doesn't have any variation in properties across time of day, etc. other than managed lanes.

[2020-03-19 00:09] jhelsel11 commented on #162
@e-lo, did we get a new name for HOV?

[2020-03-19 00:22] e-lo commented on #162
Segment_id

On Wed, Mar 18, 2020, 5:10 PM John Helsel <notifications@github.com> wrote:

[2020-03-20 02:51] josiekre commented on #146
Test added in conjunction with #147.

[2020-03-20 02:51] #146 closed

[2020-03-20 02:52] josiekre commented on #147
Test on `147 Add new stop if req for routing change` branch.

[2020-03-20 02:52] josiekre commented on #147
Test on `147_add_new_stop_if_req_for_routing_change` branch.

[2020-03-25 18:16] e-lo commented on #157
@jhelsel11 says that this issue has not been recreated recently, so I am closing it for now. Please re-open if issue re-emerges.

[2020-03-25 18:16] #157 closed

[2020-03-26 23:18] e-lo commented on #161
Works now. Thanks!

[2020-03-26 23:18] #161 closed

[2020-03-26 23:19] e-lo commented on #149
@kulshresthaa I forgot to check in on this yesterday. Are you able to take this on so we can upgrade to pandas 1.0?

[2020-03-26 23:19] #147 closed

[2020-03-26 23:20] e-lo commented on #148
@i-am-sijia I believe this is still outstanding? Not super high priority but something we need to 'tick off'

[2020-03-26 23:27] e-lo opened #168 "Transit shape check validation is checking nodes, not links or shapes"
Right now, the method to check the transit shapes is just looking to see if all the node ids exist in the network, but that is insufficient to examine if:

1. all the links are there
2. all the links in a shape are connected
3. all of the above takes place where the mode=transit

Since node comparison is a nice quick check, let's do that first and if it passes then move on to links and if that pas

[2020-03-26 23:31] e-lo commented on #164
LGTM

[2020-03-26 23:31] #164 closed

[2020-03-26 23:32] #167 closed

[2020-03-26 23:33] e-lo commented on #156
Right now we are adding a scalar to the existing copy to get shape_id and stop_id.

[2020-03-27 04:12] e-lo opened #169 "A node and B node same for some links after create_managed_lane_network() is run"
see: https://github.com/wsp-sag/Lasso/issues/66#issuecomment-604795288

cc: @i-am-sijia

[2020-03-27 04:49] kulshresthaa commented on #149
I forgot about this. I had started looking into it but never finished. I will work on it!

[2020-03-27 05:31] kulshresthaa commented on #169
fixed in 5ef3aff3ec648075662ac0f495be9ac807d5056f

[2020-03-27 17:47] #169 closed

[2020-03-30 18:21] kulshresthaa commented on #168
@e-lo Can you tell me if my understanding for checking if all the links in transit shapes are there in the network is correct?

Shapes dataframe:
![image](https://user-images.githubusercontent.com/13478750/77946791-c4ffe200-7277-11ea-9f28-0d1c833d7fca.png)

For each shape_id, do I need to look at the `shape_pt_sequence` and then form a link (b/w `shape_model_node_id`) and see if that links exist i

[2020-03-30 22:20] kulshresthaa commented on #168
@e-lo Also, how to tell (from the shapes dataframe) if the all the links in the shape are connected?

[2020-03-30 23:36] e-lo commented on #168
That's right. You should be able to do it fairly efficiently by sorting the shapes_ids, then doing an merge and offset on the `model_node_id` and then merging the links_df.

[2020-03-30 23:38] e-lo commented on #168
Now that I am thinking about this, if the shape lists nodes A, B, C and link A-B exists and so does B-C, then by definition A-B-C are connected...so this is redundant to the step discussed above.

[2020-03-31 04:29] kulshresthaa commented on #168
What about this one?

[2020-03-31 04:38] e-lo commented on #168
Yes. That should still be a requirement

On Mon, Mar 30, 2020, 9:29 PM Ashish Kulshrestha <notifications@github.com>
wrote:

[2020-03-31 04:46] kulshresthaa commented on #168
sorry, I meant what should be checked for this?

[2020-03-31 05:16] e-lo commented on #168
In the links_df you should make sure that transit is allowed

On Mon, Mar 30, 2020, 9:46 PM Ashish Kulshrestha <notifications@github.com>
wrote:

[2020-03-31 06:42] kulshresthaa commented on #168
Done. Please review [here](https://github.com/wsp-sag/network_wrangler/blob/develop/network_wrangler/transitnetwork.py#L257).

Looks like the `transit_access` flag is not coded correctly as most of the shape links does not allow transit (`transit_access` = 0)?

[2020-03-31 19:48] i-am-sijia opened #170 "link.json distance in miles"
@kulshresthaa
The created ML access/egress links have `distance` in meters, while all other links have `distance` in miles.  Can you please make the former in miles as well?

[2020-03-31 20:21] kulshresthaa commented on #170
done!

[2020-03-31 23:49] e-lo commented on #168
I'll create a new issue for this. cc: @i-am-sijia

[2020-03-31 23:50] e-lo commented on #168
Just reviewed your commits and have a few comments. One for style/speed and another is a bug that must be fixed in order to run.

[2020-03-31 23:50] e-lo commented on #170
LGTM

[2020-03-31 23:50] #170 closed

[2020-03-31 23:52] e-lo commented on #163
is this still an issue?

[2020-03-31 23:54] jhelsel11 commented on #163
It is for the full base network. Dave asked me to add it when I was trying to do some bug fixing with him while sharing a screen.

[2020-04-01 00:03] e-lo commented on #163
Can you send me the debug log which should LMK where it is getting hung up?

[2020-04-01 00:29] jhelsel11 commented on #163
Is this what you're looking for?

[network_standard_test.log](https://github.com/wsp-sag/network_wrangler/files/4412123/network_standard_test.log)

[2020-04-01 01:31] e-lo commented on #163
Ah yes, this is happening at the read level for the highway network.
1.  I think we will make fast=True the default for large networks because that reduces the time significantly as well as not reading the shapes by default
2. We should think about doing this issue if that doesn't help enough
https://github.com/wsp-sag/network_wrangler/issues/43

[2020-04-01 15:50] jhelsel11 commented on #163
@DavidOry, thoughts?

[2020-04-01 15:55] jhelsel11 opened #171 "Include managed lane flag for the managed lane created out of a project card"
Split of lasso issue [#67](https://github.com/wsp-sag/Lasso/issues/67).

Main issue: once managed lanes are created via a project card, the manged lane needs a flag to distinguish it from the general purpose lane. (Right now, both appear to have the same values except for number of lanes and the link ids are separated by a scalar.)

[2020-04-01 17:24] kulshresthaa commented on #171
@e-lo I have made the code changes to keep managed lane flag. Just need to know the name of the variable for the flag.

[2020-04-01 17:58] e-lo commented on #163
I'm working on a commit that will do #1...should be ready this afternoon if I have time to test

[2020-04-01 18:05] e-lo commented on #171
Per Dave's suggestion, variable will be `managed`

[2020-04-01 18:14] e-lo commented on #168
Per our stand-up discussion, network will be revised to have flags:
`bus_only` and `rail_only`

Transit network should be filtered to have either:
`drive_access`, `bus_only`, or `rail_only`

[2020-04-01 18:37] kulshresthaa commented on #168
to confirm, one of these fields should be equal to 1 in roadway network for the transit shapes?

[2020-04-01 18:45] e-lo commented on #168
right

[2020-04-08 18:15] kulshresthaa commented on #149
All `roadway` tests are passing except [this](https://github.com/wsp-sag/network_wrangler/blob/develop/tests/test_roadway.py#L314) one because of missing "ref" field in the [create_dummy_connector_links](https://github.com/wsp-sag/network_wrangler/blob/develop/network_wrangler/roadwaynetwork.py#L1683) which doesn't exist (I think) in small test network.

Also, can you upgrade to pandas 1.0 and con

[2020-04-08 18:16] kulshresthaa commented on #149
I am still not fixing any pandas warning, just the errors :)

[2020-04-17 16:54] i-am-sijia commented on #148
@e-lo

It passed all tests with updated network and examples, with one exception:

I think there's still an issue with network wrangler, as I saw this in the comment:

sounds like the functionality of adding a stop is not supported right now.

[2020-04-23 19:26] e-lo opened #172 "Time of day shouldn't be optional in link_tod"
https://github.com/zephyr-data-specs/GMNS/wiki/Link_TOD

I'm not sure why this wouldn't be mandatory.

[2020-04-23 19:30] e-lo opened #173 "allowed_uses shouldn't be required in link_tod"
https://github.com/zephyr-data-specs/GMNS/wiki/Link_TOD

Should as a default inherit from link>>segment>>lane and not be required to be specified.

[2020-04-23 22:56] e-lo opened #174 "Allow additional fields rather than having a header called "additional fields""
1. it is confusion what it is *is*.
2. what if you have multiple?

[2020-04-23 22:56] #174 closed

[2020-05-07 23:27] jhelsel11 commented on #152
@e-lo, can we change the readme instructions to only ask for rtree and geopandas? conda install geopandas installs fiona and shapely.

[2020-05-08 15:59] #152 closed

[2020-05-12 16:18] RachelWikenMC opened #175 "Expand Install Readme"
For ArcGIS / Cube users - Recommend Install conda by leaving boxes unchecked for advanced options – system path and register anaconda – at least on met council systems, checking these boxes will break our cube and arcgis systems.

And because of that, directions should mention selecting an anaconda prompt, not a general command prompt, or the conda commands will not be recognized. Also I had to go

[2020-05-12 17:11] jhelsel11 commented on #175
@RachelWikenMC, in general it is best practice to only elevate permissions on a command prompt as necessary but I will add language that starting the command prompt as an admin may solve some errors.

@e-lo, I'll take a first crack at responding to this in the lasso and network wrangler readmes and let you know when I've done that. I believe some of the issues (e.g. the isntallation test and perha

[2020-05-12 17:32] jhelsel11 commented on #175
@e-lo, I've made a first pass at the network wrangler changes. Will make similar adjustments to lasso and update here.

[2020-05-13 18:10] kulshresthaa opened #176 "Inconsistency b/w links and shapes"
roadway links (`links_df`) and shapes (`shapes_df`) aren't consistent with each after a project card is applied. (https://github.com/wsp-sag/Lasso/issues/70)

[2020-05-13 18:14] kulshresthaa commented on #176
@e-lo Let me know if you'd like to discuss this.

For `roadway property change` project cards, links and shapes will be consistent but not for any other kind of project card (`add new roadway`, `roadway deletion`, and `parallel managed lanes`).

Links has geometry which is stick b/w first and last node. Shapes define the true shape along that link.

For deletion: we can modify the `shapes_df` to d

[2020-05-20 18:27] e-lo opened #177 "Update managed lane shape creation shape offset to be on right side"
Right now the create managed lane method offsets managed lane shapes in a single direction (up/right)  but it should offset to the right.

[2020-05-20 18:27] e-lo opened #178 "Test adding and updating ad-hoc variables with a project card"
Make sure the variable is set.

[2020-05-20 19:18] jhelsel11 commented on #178
@kulshresthaa, you can find the minimal project card here:
https://github.com/wsp-sag/client_met_council_network/blob/base_network_project_cards/data/interim/project_cards/error_in_reversible_managed%20lane.yml

I'm rerunning the network write out step with just that project card. Will update with results.

[2020-05-21 20:25] kulshresthaa commented on #178
@jhelsel11 Two issues with the [project card](https://github.com/wsp-sag/client_met_council_network/commit/5f1dffef2b13dfc6e77f7e9ddaaaefdfa5b4892c):
* project card category for roadway change is `Roadway Property Change` and you had `Roadway Attribute Change`. It wouldn't apply the project card because category isn't found. See [here](https://github.com/wsp-sag/network_wrangler/blob/develop/netwo

[2020-05-21 20:29] jhelsel11 commented on #178
I will test your suggestions.

@i-am-sijia, will you take a look at @kulshresthaa's response? I think Ashish's responses will impact the way lasso writes project cards after reading the cube log files. (The example project card he's referring to was one change from the log file we had discussed earlier.)

[2020-05-21 20:34] kulshresthaa commented on #178
@e-lo Is the project card validation (against json schema) currently broken? I don't think the project card validation is working!

[2020-05-21 20:35] jhelsel11 commented on #178
Project card validation isn't working on the quick starts. (I've been using validate=False on everything.)

[2020-05-21 21:26] i-am-sijia commented on #178
@kulshresthaa

1. I'll change the category names to the newest.

2. Right now `model_link_id` is the only key that Lasso passes along to network wrangler to identify changed links.  I'll make `link` as a list of dictionary, with only one list element.

[2020-05-21 21:33] kulshresthaa commented on #178
I suggest not making that list with only one element, to keep it flexible and allow to use for multiple keys

[2020-05-21 21:45] i-am-sijia commented on #178
I understand the intention, but I doubt the execution.  We can have Lasso pass along other link keys, for example, `name`, and report all names from logfile.   I assume that means wrangler will change all links matching those names.  What about links with that name but not in the logfile, which are not supposed to be changed?

[2020-05-21 21:55] jhelsel11 commented on #178
Running project card creation and scenario creation after changes.

[2020-05-21 21:56] kulshresthaa commented on #178
Yes, if only `name` is specified then wrangler will make change to all the links matching those names.

Either we use unique identifiers (e.g., model_link_id, osm_link_id etc) under the `link` property or use search over combination of attributes to narrow down the specific links, e.g., use `name` under `link` but then also specifiy `A` and `B` nodes, such that links with the matching names AND b/

[2020-05-21 22:05] i-am-sijia commented on #178
Does this happen when user wants to write out project card **not from** CUBE logfile?   If we have a logfile, we always have explicit `model_link_id` for changed links.

[2020-05-21 22:11] kulshresthaa commented on #178
in that case (writing from logfile) you don't require other attributes. So change what you were originally planning :)

[2020-05-21 22:33] i-am-sijia commented on #178
Is it possible for `model_link_id` to change for existing links?  I would assume not, but I'm not sure how wrangler deals with ID-ing when links get added/deleted.  If `model_link_id` can be changed, then we have to use other keys.

[2020-05-21 23:29] jhelsel11 commented on #178
@i-am-sijia, you might have already solved this problem, but lasso is breaking after the latest commit when I try to read the reversible lane log file. You can see the issue here: https://github.com/wsp-sag/Lasso/blob/91e7fd00fde22112bb530f735417a4002883eb7c/notebooks/project_card_I394E_reversible_lane.ipynb

[2020-05-22 00:35] i-am-sijia commented on #178
@jhelsel11, updated Lasso.

[2020-05-22 02:02] jhelsel11 commented on #178
@i-am-sijia, the name ROADWAYNETWORK is not defined and throws an error (when finding epsg). See updated notebook.

[2020-05-22 02:15] i-am-sijia commented on #178
@jhelsel11 My bad, I capitalized it by accident in my previous commit, reverted it back to RoadwayNetwork.

[2020-05-27 20:17] jhelsel11 commented on #178
This is solved by rewriting the center lane as a managed lane project with 0 general purpose lanes. I will explain to Rachel.

[2020-05-27 20:17] #178 closed

[2020-06-02 22:00] e-lo opened #179 "When deleting links, delete shapes that aren't being used"
Shapes exist in network even after they are deleted (see: #176)

**Implementation**

In `delete_roadway_feature_change()` in the `RoadwayNetwork` class:

- [x] write test
- [ ] delete associated shape if not used by another link in the network
- [x] update method documentation to note that this is done

[2020-06-02 22:26] e-lo opened #180 "Add new shapes to shapes table when adding new roadway"
Shapes for new links don't exist in shapes table (see: #176)

**Implementation**

In `add_new_roadway_feature_change()` in the `RoadwayNetwork` class:

- [ ] write test
- [ ] create a new entry in shapes table
- [ ] add reference to it in links table
- [ ] update method documentation to note that this is done

[2020-06-02 22:30] e-lo commented on #176
@kulshresthaa

I made new issues #179 and #180 for add/delete.

For ML, I'm not sure how we can create an entry in shapes table if it doesn't have a shape_id? My suggestion would be to add a similar scalar offset...does that make sense?

[2020-06-02 22:38] e-lo commented on #180
For new shape geometry IDs, use the method from SharedStreets below.

Source: https://github.com/sharedstreets/sharedstreets-js/blob/0e6d7de0aee2e9ae3b007d1e45284b06cc241d02/src/index.ts
[code]

For reference, a python translation of the intersection method is as follows:

[code]

[2020-06-02 22:40] e-lo commented on #171
I think this can be closed?

[2020-06-02 22:48] #171 closed

[2020-06-02 22:48] jhelsel11 commented on #171
I agree.

[2020-06-04 05:38] e-lo commented on #176
Based on our meeting today, I think you should add some code in [this part of the `create_managed_lanes_network()`](https://github.com/wsp-sag/network_wrangler/blob/a91939ff8b1344b0c2080429b59bbd4f97caf9ed/network_wrangler/RoadwayNetwork.py#L1803) method to do the following:

- [ ] Create a geometry id based on shared streets methodology. See #180 for thoughts on this.
- [ ] Add that geometry id t

[2020-06-05 13:58] DavidOry opened #181 "Project Card Schema"
There are three project card schemas in the `schemas` [dir](https://github.com/wsp-sag/network_wrangler/tree/master/network_wrangler/schemas), `project_card`, `project_card_complex`, and `project_card_elo`. Can we reduce to one?

[2020-06-05 14:00] DavidOry commented on #181
Are the duplicates related to #96?

[2020-06-10 05:32] kulshresthaa commented on #179
@e-lo How to identify which shapes to delete when a link is deleted?

Say, project card specifies `model_link_id` 477533 to be deleted.

![image](https://user-images.githubusercontent.com/13478750/84230243-64bfc480-aaa0-11ea-9e09-b4a9eea7cd66.png)

For this link, the `shstGeometryId` is "f4adb182be027662d7457049cac64add". Is this the id that we have to search for `id` in the shapes_df?

In shapes_

[2020-06-10 20:08] kulshresthaa opened #182 "Method to create unique shape id"

[2020-06-10 20:59] e-lo opened #183 "Be able to add a tag as a pre-requisite"
This will be very useful for doing things like adding all base year fixes.

[2020-06-10 21:04] e-lo opened #184 "Evaluate error codes for project cards incompatible with network."
Make sure error codes are obvious about the problem when links are edited/deleted in a project card that don't exist in the network.

[2020-06-10 22:58] kulshresthaa commented on #182
@e-lo please review.

@i-am-sijia see if you can use this method to create "shape_id" in the network (links and shapes)

[2020-06-12 21:55] kulshresthaa commented on #182
@i-am-sijia are you able to use the method to create new network with shape_id?

[2020-06-17 17:37] e-lo opened #185 "update `osmnx` api for `gdfs_to_graph()`"
New version uses different API.

Problem found by @RachelWikenMC and also investigated by @jhelsel11

[2020-06-17 18:13] e-lo commented on #185
This should fix: https://github.com/wsp-sag/network_wrangler/commit/fef9eec7ddf41bda216e6acb25493c0756a7058f

[2020-06-26 16:40] i-am-sijia opened #186 "CRS specification"
The following way of specifying standard CRS is not working for me.

https://github.com/wsp-sag/network_wrangler/blob/d18e50bd9f1e900e72ddcbd50623bbba1f0aba9d/network_wrangler/roadwaynetwork.py#L141
https://github.com/wsp-sag/network_wrangler/blob/d18e50bd9f1e900e72ddcbd50623bbba1f0aba9d/network_wrangler/roadwaynetwork.py#L287

It fails when re-projecting to MetCouncil CRS, because the original CR

[2020-06-26 20:13] jhelsel11 commented on #163
@e-lo, I just ran create_base_scenario on the entire network, it took 13 minutes. create_scenario took less than a second after that.

[2020-06-26 21:09] i-am-sijia opened #187 "Create default geometry when adding links"
It does not seem to create the geometries after applying project cards, and causing @RachelWikenMC issues in plotting.  Test example `
model_road_net.links_df.plot("bike_access")` in https://github.com/wsp-sag/Lasso/blob/master/notebooks/Lasso%20Scenario%20Creation%20Quickstart.ipynb

![image](https://user-images.githubusercontent.com/28812722/85901166-2ed44d00-b7cf-11ea-8412-20c748fbb32c.png)

[2020-06-26 21:14] kulshresthaa commented on #187
@i-am-sijia Looking at the current implementation - it does not create geometry for new links when applying "add new roadway" project card.

+ @e-lo

[2020-06-26 21:24] jhelsel11 opened #188 "Fatal error when reading `transfers.txt`"
I updated my conda, network wrangler, lasso, and all installed python libraries this morning to run the full network. I was able to run create_base_scenario. I then updated the transit files to include the latest gtfs data (https://github.com/wsp-sag/client_met_council_network/tree/network_standard/network_standard/transit)).

Would you take a look at the network wrangler code that handles transfe

[2020-06-27 04:28] e-lo commented on #163
what about create project (which is what rachel was running)

[2020-06-29 16:32] jhelsel11 commented on #163
15 minutes. (Full network, no transit.)

[2020-07-13 05:31] kulshresthaa commented on #179
done!

[2020-07-13 06:02] kulshresthaa commented on #187
@e-lo
Approach - I guess I should revise the `add_new_roadway_feature_change` [method](https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/RoadwayNetwork.py#L1286) to first add the nodes. That way new added nodes also exist in the updated nodes_df. Then I should pick the X/Y of A and B nodes of new links from the nodes_df to get the link shape. Right?

[2020-07-14 05:58] kulshresthaa commented on #187
@e-lo approach for creating geometry when adding links - add new nodes first so that the nodes_df has updated nodes. Next, for the new links (with missing geometry), get the A and B ids of those links, extract the x/y of those nodes from the nodes_df and then create a geometry of new link in links_df.

Problem: How do we make sure that if we are adding new links b/w nodes (A/B) which doesn't alrea

[2020-07-14 15:55] i-am-sijia commented on #187
Yes, new nodes are listed in the project card like this:

[code]

[2020-07-15 16:16] e-lo commented on #179
(*putting this note here since this was discussed offline*)

#182 fixes the problem where shapes don't have a unique id because the shared streets ID is broken up across several links as a result of link-splitting in OSMNX

For this method, we should use the new unique shape ID

[2020-07-15 16:17] e-lo commented on #179
@kulshresthaa I have one minor request for using a different (more resilient) pandas method that I put in the commit, then this can be closed!

[2020-07-15 16:22] e-lo commented on #187
Like @i-am-sijia said, the new nodes are specified in the project card.  However, it seems like the ordering in [`add_new_roadway_feature_change()`](https://github.com/wsp-sag/network_wrangler/blob/a91939ff8b1344b0c2080429b59bbd4f97caf9ed/network_wrangler/RoadwayNetwork.py#L1286) method might be the issue you are encountering? My 10 sec read is that it is adding nodes first and then links but perh

[2020-07-15 16:23] e-lo commented on #186
@i-am-sijia what is your geopandas and pyproj version? you may need to upgrade

[2020-07-15 16:24] #185 closed

[2020-07-15 16:35] kulshresthaa commented on #187
ordering is ok. method is adding nodes first and then links, which I think is correct. Problem is if there is an inconsistency b/w new links and nodes in the project card.

The [project card](https://github.com/wsp-sag/network_wrangler/blob/develop/examples/stpaul/project_cards/10_simple_roadway_add_change.yml) is a made up project card (and not from the log). This specifies to add two new links b

[2020-07-15 16:56] e-lo commented on #182
@kulshresthaa  I think only remaining thing is documenting the method

[2020-07-15 16:59] e-lo commented on #187
Ah! Sounds like that test project card is just outdated and needs to be updated. Please do so.

@i-am-sijia do you know what the nodes should be?

While you are at it, can you make sure that the error codes make sense when you try. and add links without pre-requisite nodes? (and address if they don't)

[2020-07-15 17:09] kulshresthaa commented on #179
done!

[2020-07-15 18:03] #179 closed

[2020-07-15 23:58] kulshresthaa commented on #187
done. please review @e-lo

[2020-07-16 02:02] kulshresthaa opened #189 "Uppercase X and Y for node data"

[2020-07-16 05:29] kulshresthaa commented on #180
done! please review @e-lo

[2020-07-16 05:29] kulshresthaa commented on #189
done!

[2020-07-16 05:46] kulshresthaa commented on #182
is the added documentation OK?

[2020-07-16 17:45] e-lo commented on #180
Overall LGTM so I will close, but I do have one request on the commit to add another assert.

[2020-07-16 17:45] #180 closed

[2020-07-16 18:20] e-lo commented on #187
Just added a handful of comments that I'd like for you to address before I close this:
1. selections before applys since applys are costly
2. `.isin`. rather than `.query` should make code much shorter/legible
3. moving from `.loc` to `.at` for single cells
4. minor ? about "" vs .na

[2020-07-16 18:25] e-lo commented on #189
Interesting!

[2020-07-16 18:25] #189 closed

[2020-07-16 18:25] #182 closed

[2020-07-16 20:29] kulshresthaa commented on #187
@e-lo I think I have addressed all the comments except the "" vs None for geometry. Please review.

For geometry, should we change where it gets created to have it as None when missing/empty?

[2020-07-16 20:30] e-lo commented on #188
@jhelsel11 I just added a commit that should address this bug in using the `set()` function. However, I didn't trigger it when I updated the transfers.txt so please double-confirm that this fixed your problem and then close the issue if it does!

[2020-07-16 20:41] i-am-sijia opened #190 "Change roadway deletion mechanism"
Instead of deleting the link, can we just make `drive_access = 0`?  Asking because:

- Deleting the link causes connectivity problem in walk/bike network, when most of the time user actually meant to delete it in the drive network, and was doing so in CUBE.

- It messes up `assign_group` calculation in Lasso, which I couldn't come up with a simple solution.

[2020-07-16 21:18] i-am-sijia commented on #190
It seems just need to change this line

https://github.com/wsp-sag/network_wrangler/blob/a91939ff8b1344b0c2080429b59bbd4f97caf9ed/network_wrangler/RoadwayNetwork.py#L1385

[2020-07-16 21:19] i-am-sijia commented on #190
Is this ok? @e-lo

[2020-07-16 22:54] AshishKuls opened #191 "Update managed lane shape creation shape offset to be on right side"
Right now the create managed lane method offsets managed lane shapes in a single direction (up/right) but it should offset to the right.
Currently the method just offsets the lat/long of GP nodes to create ML nodes and doesn't care that ML link is drawn which side of the GP link.

[2020-07-17 01:38] e-lo commented on #190
My guess is that the primary use case for link deletion is to split a link, in which case the resulting link would provide the walk connectivity.

If a link truly does remain but it is just closed to driving, then we should make a link property change reflecting the drive_access = 0

w.r.t. the `assign_group` calculation in lasso...how is it messing it up?  Whatever our methods are, they should be

[2020-07-17 02:32] e-lo commented on #187
That seems reasonable. Is it really an empty string now? It would seem that it would default to the geopandas None

[2020-07-17 03:56] e-lo commented on #187
Looks great to me – thank you!

Leaving open to see if you have ideas about "" v None but feel free to close

[2020-07-17 06:39] kulshresthaa commented on #191
So, I have made code changes to try and draw the ML correctly in the managed lane network and I would like to visualize the new network to test how the ML looks.

I have a wrangler roadway network object after applying the managed lane project card. What is the easiest way for me to save it as shape file or cube network or something else to be able to open and visualize it?

@e-lo @i-am-sijia @jhe

[2020-07-17 14:23] i-am-sijia commented on #186
Upgraded packages and worked.

[2020-07-17 14:23] #186 closed

[2020-07-17 15:55] jhelsel11 commented on #191
If you output your network as a fixed width format from lasso it will also output a shape file with just the A and B nodes.

It will also output a script like this that will turn the fixed width file into a cube network.: https://github.com/wsp-sag/client_met_council_network/blob/base_network_project_cards/models/batch_file_abm/cube_scripts/make_complete_network_from_fixed_width_file.s

[2020-07-17 15:55] jhelsel11 commented on #191
(the .s file should show up in the same folder as the fixed width files.)

[2020-07-17 16:56] kulshresthaa commented on #191
What are the steps to output network using Lasso?

I don't have Lasso configured on my machine and I would prefer not to spend too much time on configuring and getting it to work. Even if I have to use Lasso, what would be the minimal piece of code for me to use? @i-am-sijia

[2020-07-17 17:02] jhelsel11 commented on #191
There may be an easier way, but I write the files using this notebook. https://github.com/wsp-sag/Lasso/blob/master/notebooks/Lasso%20Scenario%20Creation%20Quickstart.ipynb

(You would need to change file paths because we recently reorganized the met council repo location for project cards.)

[2020-07-17 17:42] #188 closed

[2020-07-20 13:23] i-am-sijia commented on #191
If you don't want to use Lasso, you can append geometry from shape.geojson to link.json and write out a geojson file.

If you use Lasso, take a look at the [test_roadway.py](https://github.com/wsp-sag/Lasso/blob/develop/tests/test_roadway.py), you can pytest method [test_write_roadway_as_shape](https://github.com/wsp-sag/Lasso/blob/b4deb05e751844ebfce0aa980f0a1e685ddd61ad/tests/test_roadway.py#L17

[2020-07-21 17:57] kulshresthaa commented on #177
opened another issue for the same (mistake), So, closing this one.

[2020-07-21 17:57] #177 closed

[2020-07-21 17:59] kulshresthaa opened #192 "Add new shapes to shapes table when creating managed lane network"
- create new links shape_id, geometry and location reference fields
- create new entries in shapes table
- update method documentation to note that this is done
- write test

[2020-07-21 21:13] kulshresthaa commented on #192
done!

[2020-07-21 21:15] kulshresthaa commented on #176
all of this is complete as part of separate issues for add/delete/managed lanes.

[2020-07-22 12:34] #163 closed

[2020-07-22 12:38] DavidOry opened #193 "Should we allow new roadway nodes to be automatically re-numbered"
Picking up a previous discussion and per Rachel's request. If the options are:

(a) The user has to create log files in Cube using the same node numbering schema, but can then compare networks across scenarios directly, or;

(b) The user can create log files in Cube re-using the same nodes for different projects and then Wrangler takes care of the problem by sorting out the differences, which make

[2020-07-22 16:49] i-am-sijia commented on #190
I fixed a bug in Lasso in appending `assign_group`.   You are right, the deletion should not affect the `assign_group` calculation.

[2020-07-22 17:11] e-lo commented on #193
We hadn't implemented this because of the **makes comparing networks across scenarios impossible** part -  which was what I thought we had discussed with Rachel and agreed to approach (a)?

Approach B would be do-able but not (in my opinion) very useful.

The one difficult decision is what to do if you have nodes that wrangler has created, and then a project card that is directly specifying those

[2020-07-22 20:45] jhelsel11 opened #194 "long lists of model link ids cause an error in project cards"
I tried to apply the following project card to a scenario.

https://github.com/wsp-sag/client_met_council_network/blob/base_network_project_cards/project_cards/year_2018_corrections_assign_group.yml

Doing so created a recursion error that appears to be due to having too many conditions in a filter.

Can you let me know what the implicit limit is for the number of links that can be changed in a ca

[2020-07-23 02:59] JonathanEhrlichMC opened #195 "osmnx dependency errors with numpy and pyproj"
Getting following error when installing:

ERROR: osmnx 0.15.1 has requirement numpy>=1.18, but you'll have numpy 1.17.4 which is incompatible.
ERROR: osmnx 0.15.1 has requirement pyproj>=2.6, but you'll have pyproj 2.4.2.post1 which is incompatible.

[2020-07-23 04:23] e-lo commented on #195
It seems like you had previous versions installed in this environment?

I think running [`conda update`](https://docs.conda.io/projects/conda/en/latest/commands/update.html) before running a pip install should do the trick.

It is annoying that osmnx is requiring such recent versions, though.

[2020-07-23 19:49] e-lo commented on #195
Any luck on this @JonathanEhrlichMC ?

[2020-07-23 19:51] e-lo commented on #194
@jhelsel11 can you post the traceback? (generally necessary for tracking down bugs)

It certainly isn't supposed to have any implicit limit from our perspective but the method we used may have one we aren't aware of.

[2020-07-23 19:55] i-am-sijia commented on #194
The recursion error happened in this query:
https://github.com/wsp-sag/network_wrangler/blob/f4d591a4672bab9fc603826ec62040bf8711fd5c/network_wrangler/roadwaynetwork.py#L851-L853

[2020-07-23 21:33] JonathanEhrlichMC commented on #195
Updating numpy seems to have solved it. I still have pyproj 2.4.2.post1- when I try to update I get:

PackageNotInstalledError: Package is not installed in prefix.
  prefix: C:\Users\ehrlicjn\AppData\Local\Continuum\anaconda3\envs\lasso
  package name: pyproj

[2020-07-23 21:55] JonathanEhrlichMC commented on #195
I went ahead and installed pyproj from scratch in lasso and now it has a recent version. Strange. In any case, the error is gone.

[2020-07-23 21:55] #195 closed

[2020-07-28 20:25] e-lo commented on #192
Sorry it took so long for me to review. I had a few very minor comments on the commit. You can close this out when you have reviewed them. Thanks!

[2020-07-28 20:26] e-lo commented on #190
@i-am-sijia are we good to close this now?

[2020-07-28 20:26] #187 closed

[2020-07-28 20:27] #176 closed

[2020-07-28 20:32] #190 closed

[2020-07-28 20:36] e-lo commented on #193
Per discussions with @RachelWikenMC and @JonathanEhrlichMC,  we will pursue creation of a node (and link?) registry within a project card registry.

I wrote up:
1. [issue in Lasso for creating such a registry](https://github.com/wsp-sag/Lasso/issues/96)
2. #194 method for validating project card nodes based on registry nodes.
3. [ issue in Lasso for running the project card node validation method

[2020-07-28 20:38] e-lo opened #196 "Add method in ProjectCard to check node overlap with node registry"
[code]

Add test.

[2020-07-28 22:24] jhelsel11 commented on #194
@e-lo, here's the result from running too many changes at once: https://github.com/wsp-sag/Lasso/blob/develop/notebooks/make_scenario_I394E_managed_lanes.ipynb

[2020-07-28 22:24] jhelsel11 commented on #194
or, see the commit here: https://github.com/wsp-sag/Lasso/commit/0a04fee0d59489ee034db75489b33d6518fc980c

[2020-07-28 23:23] DavidOry opened #197 "Is Scenario.base_scenario a dict or a Scenario?"
This [line](https://github.com/wsp-sag/network_wrangler/blob/5f325c01a3786f1b01a461ebac82dd91c6476710/network_wrangler/scenario.py#L186) makes me think base_scenario is just a dictionary containing the roadway and transit network.

But this [method](https://github.com/wsp-sag/network_wrangler/blob/5f325c01a3786f1b01a461ebac82dd91c6476710/network_wrangler/scenario.py#L144) returns a Scenario.

When

[2020-07-29 17:25] e-lo opened #198 "Ability to do read/write in feather"
Autodetect and read feather data for IO.

https://geopandas.readthedocs.io/en/latest/io.html#apache-parquet-and-feather-file-formats

[2020-07-29 18:25] DavidOry commented on #197
@e-lo thinks the code is fine.

[2020-07-29 18:25] #197 closed

[2020-07-31 19:52] e-lo commented on #168
LGTM

[2020-07-31 19:52] #168 closed

[2020-08-03 17:57] e-lo opened #199 "process project cards with python changes"
In order to accommodate large-scale network changes efficiently which can be accomplished via the network wrangler API while **also** retaining the important metadata and scenario-building functionality, network wrangler should be able to process project card that contain the YAML front-matter metadata followed by python content which completes the editing.

This type of approach is similar to how

[2020-08-06 13:25] DavidOry opened #200 "OSMnx API Changed"
The `make_folium_polyline` method is now [private](https://github.com/gboeing/osmnx/blob/25173ca18aad933f62d55410e432b0af8066ed29/osmnx/folium.py#L14), which breaks our [notebook](https://github.com/wsp-sag/network_wrangler/blob/master/notebook/Wrangler%20Quickstart.ipynb).

[2020-08-06 13:34] DavidOry commented on #200
Also breaks our [selection_map](https://github.com/wsp-sag/network_wrangler/blob/fee46771ff5030cc1f3697c2e79a635c6f032577/network_wrangler/roadwaynetwork.py#L2265) method.

[2020-08-06 20:02] e-lo opened #201 "Add ability to handle and edit node-specific parameters in transit"
**Goal:** be able to edit parameters such as hard-coded travel times and boarding/alighting parameters in transit network object

- [ ] Identify where node-specific parameters are represented in network object
- [ ] Add ability to handle node-specific parameters in transit apply methods
- [ ] Write example project card
- [ ] Write tests for this functionality

[2020-08-13 19:04] kulshresthaa commented on #192
@e-lo You can close out this issue and merge develop into master

[2020-08-14 18:07] DavidOry commented on #199
fyi @lmz

[2020-08-19 17:44] e-lo commented on #191
@kulshresthaa Looks good overall but I have some requests/questions noted here and below: https://github.com/wsp-sag/network_wrangler/commit/cda9f3c8219008aa5ad51a25ca0f819fad8c8af2

- [ ] docstrings for new functions
- [ ] assert statements for unit tests
- [ ] shouldn't have project cards labeled `_ak`
- [ ] add geodesic to requirements

btw - is geodesic hard. to install?

[2020-08-19 17:46] e-lo commented on #193
Closing this since it is now represented in other issues.

[2020-08-19 17:46] #193 closed

[2020-08-19 17:59] #192 closed

[2020-08-19 20:01] e-lo opened #202 "Pandas .loc with missing labels"
### Triggering usage
#### How to recreate the buggy behavior:

Tests failed.

#### Applicable failing tests:
 - `test_apply_roadway_feature_change()`

### Error
[code]

#### Triggering Code Line:

`tests/test_roadway.py:228`

[code]
### Resolution Thoughts
-  This error throws when you are trying to filter on columns or indices that aren't in the df.  Can pre-filter the selection.

### Full Trace

[2020-08-19 20:04] e-lo opened #203 "TypeError: 'str' object cannot be interpreted as an integer in `test_add_adhoc_managed_lane_field ()`"
in `test_add_adhoc_managed_lane_field`:

[code]

[2020-08-19 20:08] e-lo opened #204 "Roadway addition erroring b/c it can't find nodes and links"
Full trace:

[code]

[2020-08-19 20:10] e-lo opened #205 "KeyError: 'transit_access' in `get_modal_network`"
Triggered from running `test_get_modal_network()`

Also make "key_error" much more obvious by doing the check up front.

Problem
-----
`transit_access` dummy used to define all links that allowed transit, but has since changed to `rail_only` and `bus_only` to be links that allow rail or bus but *not* autos. Therefore, it should allow for selection based on the union of a list of an ambiguous # of

[2020-08-19 20:12] e-lo opened #206 "`test_select_transit_features_by_nodes()` failing:"
Is this a methodological bug or does either the test or network need to be updated?

[code]

[2020-08-19 20:14] e-lo opened #207 "LineString not defined in `test_get_unique_shape_id()`"
Need to import.

[2020-08-19 20:20] e-lo opened #208 "Pandas .loc warnings"
[code]

Locations:

- [x] `roadwaynetwork.py:870` : `candidate_links["i"] = 0`
- [x] `roadwaynetwork.py:985` : `candidate_links["i"] * RoadwayNetwork.SP_WEIGHT_FACTOR`
- [x] `roadwaynetwork.py:903` : `candidate_links["i"] = 0`
- [x] `roadwaynetwork.py:1889`: `ml_links_df[attr] = ""`
- [x] `roadwaynetwork.py:1883` : `ml_links_df[gp_attr] = ml_links_df[attr]`

[2020-08-19 20:26] #207 closed

[2020-08-19 20:53] #200 closed

[2020-08-19 21:06] i-am-sijia commented on #206
Differences due to the rerouting after adding more bus only facility, just needed to update the tests.

[2020-08-19 21:46] kulshresthaa commented on #191
@DavidOry @e-lo adding 90 degrees to the bearing does create the ML links and access/egress nicely. I guess I can now say with some confidence that it is working :)

![image](https://user-images.githubusercontent.com/13478750/90691305-f9286f00-e227-11ea-84df-c18d2e7babb6.png)

.

![image](https://user-images.githubusercontent.com/13478750/90692774-8a004a00-e22a-11ea-9b83-fb1ab093f83a.png)

[2020-08-19 21:51] kulshresthaa opened #211 "Offset the managed lane shape to the true shape"
Currently, the process (#191) adds the new managed lane shape as a straight line. Will update the code later for it to add true shape for the new managed lane.

[2020-08-19 22:20] #206 closed

[2020-08-19 22:31] kulshresthaa commented on #191
@e-lo Can you confirm if all your comments for this have been addressed in the last [commit](https://github.com/wsp-sag/network_wrangler/commit/7d7744ddde9d12bbfd67a75d2e453c91e3e588c6)

Do you see `geographiclib` package in your conda list? I dont recall if I had to separately install `geographiclib` or was it already there.

[2020-08-20 04:30] e-lo commented on #205
Test fixed. Test passes. LGTM IIDSSM

[2020-08-20 04:30] #205 closed

[2020-08-20 19:32] e-lo opened #212 "modify `build_link_selection_query()` to take a list for mode"
### Use Case
Modes are now often lists, should be flexible to take either.

i.e.  `mode = ['drive_access','rail_only']`

Current error:

[code]

[2020-08-20 19:49] e-lo commented on #202
(just kidding about that commit above...that was for a different issue)

[2020-08-20 19:49] e-lo commented on #208
Fixed here: https://github.com/wsp-sag/network_wrangler/commit/a111314e4a04e72de382ff0ec3c242efd4bb167e

[2020-08-20 19:49] #208 closed

[2020-08-20 19:52] e-lo opened #213 "Implement dummy connector method"
Implement ability to code select access/egress to/from managed lanes as required for correctly coding I-680.

- [x] Write project card using desired API
- [x] Write test to judge if method works
- [x] Implement methodology to code select access/egress dummy links

[2020-08-24 04:35] e-lo opened #214 "`test_add_delete_roadway_project_card()` not passing – node not in network"
It looks like the node that this project card was based on is no longer in the network? Please update either the node # of the project card to reflect a suitable alternative such that it will pass the test: `test_add_delete_roadway_project_card()`

[code]

[2020-08-24 04:37] e-lo opened #215 "`test_add_adhoc_managed_lane_field()` Failing with a Type Error"
Trace:

[code]

[2020-08-24 04:38] e-lo commented on #212
Fixed in https://github.com/wsp-sag/network_wrangler/commit/cac7c189711093fa22cec1ceea0b33c8d67316e6

[2020-08-24 04:38] #212 closed

[2020-08-28 15:06] e-lo commented on #214
Works now - thanks!

[2020-08-28 15:06] #214 closed

[2020-08-28 15:40] e-lo opened #216 "Create templates for PRs ,enhancements and bugs"
### User Story
As a code contributor, I would like to have all the necessary information to address PRs bugs and work on enhancements.

### Priority
ASAC (as soon as convenient) since the increase in use, users, and developers will

### Level of Effort
< 10 minutes for initial implementation

### Resolution Ideas
- Issue template in github repositories for Lasso and Wrangler for bugs and enhanceme

[2020-08-28 19:16] #202 closed

[2020-09-02 19:36] e-lo commented on #216
added bug report and feature request templates to master

[2020-09-02 19:49] e-lo commented on #216
Added PR template

[2020-09-02 19:49] #216 closed

[2020-09-02 20:29] e-lo opened #217 "[BUG] Get Modal Network failing for walk"
## Describe the bug
Get following when trying to run method `
[code]

## To Reproduce

### Failing tests
- [x] `test_network_connectivity_ignore_single_nodes`

### Thoughts on resolution

`MODES_TO_NETWORK_LINK_VARIABLES` needs to have lists as values.

[2020-09-02 20:31] #217 closed

[2020-09-02 20:35] e-lo commented on #215
c

[2020-09-02 20:35] #215 closed

[2020-09-02 20:36] e-lo commented on #203
@kulshresthaa you are in luck! This was fixed upstream and is no longer an issue!

[2020-09-02 20:36] #203 closed

[2020-09-02 20:44] e-lo commented on #204
@kulshresthaa  -  you are in luck here too!  issue fixed upstream.

[2020-09-02 20:44] #204 closed

[2020-09-03 12:23] DavidOry opened #219 "Utils requires geographiclib"
## Describe the bug
Utils in develop branch requires geographiclib
[code]

## To Reproduce
Steps to reproduce the behavior:
1. `from network_wrangler import RoadwayNetwork`

### Failing tests
- [ ] No applicable test failed, need to create.
- [ ]

### Triggering line of code

### Thoughts on resolution
Add `geographiclib` to requirements

### Full stack trace

### Environment

Operating system:
Co

[2020-09-03 17:38] e-lo opened #220 "Consider changing `X` and `Y` back to `x` and `y`"
`osmnx` keys off of lowercase `x `and and `y` for several functions.

### Workaround

Added the following work around to `ox_graph()`

[code]

[2020-09-03 20:48] e-lo opened #221 "Refactor report generation"
Right now `Scenario.scenario_summary()` writes out to a standard file and doesn't include project card summaries.  It would be more helpful if it could:
- [x] Write out to a string as a default and optionally to a file with a specified name.
- [x] Optionally include project card summaries.
- [x] Optionally include maps

Additionally, this method needs:
- [x] (at least a) functional test
- [x] Func

[2020-09-03 22:30] e-lo opened #222 "[BUG] Scenario and Project Report Maps use graph but that isn't there by default"
## Describe the bug
`RoadwayNetwork.selection_map()` uses `RoadwayNetwork.selection{}...['graph']` which isn't made for links that aren't selected using a shortest path.

## To Reproduce

### Failing tests
- [ ]  `test_apply_summary_wrappers()`

### Thoughts on resolution
Maps should be based on link and node selections, not stored selection graphs.

[2020-09-04 06:05] e-lo opened #223 "[BUG] Description of problem"
## Describe the bug
Project maps don't display in notebook `visual checks`

### Thoughts on resolution
Perhaps display as HTML?

### Full stack trace

[2020-09-09 18:51] DavidOry commented on #201
Two things:
1. GGT transit board or alight restrictions, e.g., cannot board and alight in SF;
2. BART travel times are coded in the node sequence (?)
--> Perhaps a better way to solve in the network itself?

[2020-09-15 22:30] e-lo commented on #199
I did over half of the work (project card read, roadway network apply) - anybody want to take on transit ? :-)

[2020-09-15 22:31] #219 closed

[2020-09-15 22:31] #221 closed

[2020-09-16 19:33] e-lo opened #225 "Apply Calculated Roadway Changes from .wrangler project cards"
Apply Calculated Roadway Changes from .wrangler project cards (developed in. #199) to the RoadwayNetwork object

### Status
- [x] write test
- [x] develop apply method
- [x] tests all passing

[2020-09-16 19:36] e-lo opened #226 "Apply Calculate Transit .wrangler project cards"
Apply Calculate Transit project cards to the transit network instance from .wrangler python-based project cards developed in Issue #199

### Status
- [x] Example project card
- [x] Write test
- [x] Transit Network Apply method
- [x] All tests passing

[2020-09-16 19:36] #199 closed

[2020-09-16 19:37] #225 closed

[2020-09-21 04:07] e-lo opened #227 "[refactor] move mapping methods to separate module"
RoadwayNetwork Class is getting overwhelming. I think we should move mapping-related methods to another module.

- [ ] move to new module ???.py
- [ ] passing all tests

[2020-09-21 06:13] e-lo opened #228 "[FEATURE] Add roadway consistency checks"
### User Story
*As a modeler tasks with network QA/QC, I'd like to flag places in the network that may have consistency issues with things like number of lanes*

### Priority
Medium for MetCouncil

### Level of Effort
medium-high

### Who should be involved?
Implementer: @e-lo
Commenters: @DavidOry @RachelWikenMC
Users: @RachelWikenMC
Reviewers: @i-am-sijia @DavidOry

### Risk
*Will this potential

[2020-09-30 15:48] i-am-sijia opened #229 "Parameterize wrangler methods to allow for different parameters for different agencies."
Wrangler attributes such as [MANAGED_LANES_NODE_ID_SCALAR](https://github.com/wsp-sag/network_wrangler/blob/b7395c9c197c3f311dd12769882bff676be9f66b/network_wrangler/roadwaynetwork.py#L158) should be flexible and subject to MPO's choice, instead of hard coded in the source scripts.  The current setting does not work for MTC network.

[2020-09-30 18:01] e-lo commented on #229
Can I tackle this one? also working on refactoring lasso parameters.

[2020-10-01 21:00] gshivaraman opened #230 "Ability to change roadway attributes by time period using change process"
Currently, attributes cannot be specified by time period for a roadway attribute change process

[2020-10-08 21:41] kulshresthaa commented on #162
@DavidOry @e-lo This is the issue for adding the 'change' keyword in the parallel managed lane, which we decided to not fix at the time because it is not straightforward.

In the current implementation, the way the new attribute value is constructed (for the time of day), I don't see how to make the change. Perhaps we need to have a call to discuss how to approach this.

I am thinking we likely ha

[2020-10-08 22:38] e-lo commented on #162
@kulshresthaa I am juggling things so can't have a call today but can take a look this evening. Can you reference where in the code this would need to happen?

[2020-10-09 16:58] kulshresthaa commented on #162
[this](https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/roadwaynetwork.py#L1345) is code block where the change needs to happen and [this](https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/roadwaynetwork.py#L1399) is where the value is currently set.

current code block -

* for each property in project card:
  * construct the same attribute value usi

[2020-10-12 17:31] kulshresthaa commented on #162
@e-lo  thoughts?

[2020-10-19 13:00] DavidOry commented on #230
Duplicate to #162

[2020-10-19 13:00] #230 closed

[2020-10-19 20:42] DavidOry opened #231 "Improve Project Card Documentation"
### User Story
I am new to Network Wrangler and would like to better understand what the Project Cards are doing. Why are they structured this way? How can I learn to make my own?

### Priority
Medium Low

### Level of Effort
Medium Low

### Resolution Ideas
Add documentation explaining each of the fields and potential nested elements to each field.

### Project
No

### Who should be involved?
Imp

[2020-10-21 18:39] kulshresthaa opened #232 "[BUG] Missing folder path when creating scenario using tags"
## Describe the bug
When creating a new scenario with project cards using 'card directory' and 'tags', the method that is called to add project cards (`add_project_cards_from_tags`) does not include the full path to the card, so we get an error that the project card file isn't found.

### Triggering line of code
https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/scenario.py#L

[2020-10-21 18:56] DavidOry opened #233 "Access Local Variables in .Wrangler files"
### User Story
I want to write Python code to edit the network directly via a .wrangler file. When doing so, I would like to access objects or classes in my environment, e.g., the Lasso Parameters class to get default assumptions. Or a directory where a file I want to reference is located.

### Priority
Low

### Level of Effort
Medium

### Resolution Ideas
Have a `kwargs` like ability to pass argu

[2020-10-22 05:50] kulshresthaa commented on #162
@e-lo please review when you get a chance.

[2020-10-28 16:05] DavidOry commented on #162
@kulshresthaa

When I apply a Parallel Managed Lane Project Card, the `lanes` attribute becomes a dictionary, segmented by time of day. If I then apply another `change` project card to this facility, the `change` integer is added to the `lanes` dictionary, which throws a bug. Example is [here](https://github.com/wsp-sag/network_wrangler/blob/develop/notebook/change-functionality-bug.ipynb).

cc: @

[2020-11-04 18:05] AshishKuls opened #234 "[BUG] Error when applying project cards on attributes that are dictionaries"
## Describe the bug
When the user apply a parallel managed lane project card and then apply another project card on the wrangler network, it throws an error.

The reason is that when a managed lane project card is applied, one or more attributes become dictionary segmented by the time of day for certain roadway segments, and then any other change for those attributes wouldn't be possible on the sa

[2020-11-04 18:06] kulshresthaa commented on #234
@DavidOry Could you please update the second possible approach - doing something with the .wrangler file?

[2020-11-05 19:42] DavidOry commented on #234
Note this issue is broader than post managed lanes card application, as any attribute can be a dictionary.

[2020-11-09 19:49] e-lo commented on #229
Based on group discussion, we will:

1. store "best" default parameters for each class; stored at class-level
2. update methods to be able to override default parameters

[2020-11-12 05:03] e-lo opened #237 "Deal with managed lane scalar transformations if node or link ids are not a number."
https://github.com/wsp-sag/network_wrangler/blob/e2defcf999c92a1711759e1f65807b1ef30d38c4/network_wrangler/roadwaynetwork.py#L742-L742

[2020-11-13 04:38] e-lo opened #238 "Document function utils.build_link_selection_query()"
https://github.com/wsp-sag/network_wrangler/blob/8a43dcdc311bf8b414940ade48ed79b296e2167e/network_wrangler/projectcard.py#L206-L206

[2020-11-13 04:39] e-lo opened #239 "Document function utils.build_link_selection_query()"
https://github.com/wsp-sag/network_wrangler/blob/8a43dcdc311bf8b414940ade48ed79b296e2167e/network_wrangler/projectcard.py#L206-L206

[2020-11-13 22:25] e-lo opened #240 "Write assert in test_network_connectivity_ignore_single_nodes()"
https://github.com/wsp-sag/network_wrangler/blob/8a43dcdc311bf8b414940ade48ed79b296e2167e/tests/test_roadway.py#L794-L794

[2020-11-13 22:26] e-lo opened #241 "Write assert in test_apply_pycode_roadway()"
https://github.com/wsp-sag/network_wrangler/blob/8a43dcdc311bf8b414940ade48ed79b296e2167e/tests/test_roadway.py#L1027-L1027

[2020-11-13 22:27] e-lo opened #242 "Write assert in test_find_segment()"
https://github.com/wsp-sag/network_wrangler/blob/8a43dcdc311bf8b414940ade48ed79b296e2167e/tests/test_roadway.py#L1076-L1076

[2020-11-13 22:27] e-lo opened #243 "write assert for test_scenario_conflicts()"
https://github.com/wsp-sag/network_wrangler/blob/95792e31422197dd3c9e0e8705c01863363af1c6/tests/test_scenario.py#L91-L91

[2020-11-13 22:28] e-lo opened #244 "write assert for test_scenario_requisites"
https://github.com/wsp-sag/network_wrangler/blob/95792e31422197dd3c9e0e8705c01863363af1c6/tests/test_scenario.py#L129-L129

[2020-11-13 22:28] e-lo opened #245 "write assert for test_project_sort()"
https://github.com/wsp-sag/network_wrangler/blob/95792e31422197dd3c9e0e8705c01863363af1c6/tests/test_scenario.py#L169-L169

[2020-11-13 22:28] e-lo opened #246 "write assert for test_managed_lane_project_card"
https://github.com/wsp-sag/network_wrangler/blob/95792e31422197dd3c9e0e8705c01863363af1c6/tests/test_scenario.py#L187-L187

[2020-11-13 22:29] e-lo opened #247 "write assert for test_apply_summary_wrappers()"
https://github.com/wsp-sag/network_wrangler/blob/95792e31422197dd3c9e0e8705c01863363af1c6/tests/test_scenario.py#L331-L331

[2020-11-13 22:30] e-lo opened #248 "write assert() for test_scenario_building_from_script()"
https://github.com/wsp-sag/network_wrangler/blob/95792e31422197dd3c9e0e8705c01863363af1c6/tests/test_scenario.py#L354-L354

[2020-11-13 22:31] e-lo opened #249 "write assert() for test_transit_read_write()"
https://github.com/wsp-sag/network_wrangler/blob/be38744fde7087fefdbc3e188b981b46e69774ea/tests/test_transit.py#L28-L28

[2020-11-13 22:31] e-lo opened #250 "write assert for test_wrong_existing()"
https://github.com/wsp-sag/network_wrangler/blob/be38744fde7087fefdbc3e188b981b46e69774ea/tests/test_transit.py#L267-L267

[2020-11-13 22:32] e-lo opened #251 "write assert for test_zero_valid_facilities()"
https://github.com/wsp-sag/network_wrangler/blob/be38744fde7087fefdbc3e188b981b46e69774ea/tests/test_transit.py#L284-L284

[2020-11-13 22:33] e-lo opened #252 "write assert for test_invalid_selection_key()"
https://github.com/wsp-sag/network_wrangler/blob/be38744fde7087fefdbc3e188b981b46e69774ea/tests/test_transit.py#L299-L299

[2020-11-13 22:33] e-lo opened #253 "write assert for test_invalid_optional_selection_variable()"
https://github.com/wsp-sag/network_wrangler/blob/be38744fde7087fefdbc3e188b981b46e69774ea/tests/test_transit.py#L328-L328

[2020-11-13 22:34] e-lo opened #254 "write assert and xfail for test_invalid_optional_selection_variable()"
https://github.com/wsp-sag/network_wrangler/blob/be38744fde7087fefdbc3e188b981b46e69774ea/tests/test_transit.py#L352-L352

[2020-12-16 19:56] e-lo opened #255 "[FEATURE] Validate network on write"
### User Story
*As a user, I'd like to make sure the network is validated on the write out by default*

### Priority
Medium

### Level of Effort
Very low.

### Project
No.

### Who should be involved?
Implementer: Anyone
Commenters:
Users:
Reviewers:

### Risk
Probably not.

#### Tests
Not needed.

[2020-12-16 20:36] i-am-sijia opened #256 "[BUG] Duplicated Nodes Created If The Parent Node Is Referenced In More Than One Managed Lane Card"
## Describe the bug
When there is a managed lane project card for Link(u,v), and another managed lane project card for Link(u,w), Node(u) will have two offset dummy nodes created with the same scalar, resulting in non-unique nodes.

### Thoughts on resolution
When applying a managed lane project card, check if a node already has a dummy node created in the database by other project cards.  And may

[2021-01-05 05:25] kulshresthaa commented on #256
@e-lo I push the fix for this issue to `develop` or `generic_agency` branch?

[2021-01-06 19:59] e-lo commented on #256
`generic agency` is fine

[2021-01-08 19:14] e-lo opened #257 "offset_lat_lon is not a defined method or variable."
@kulshresthaa  - wondering if the method name just got updated somewhere but not here?

https://github.com/wsp-sag/network_wrangler/blob/c70a731e74be20fef42f85c2c847e30a320eee7c/network_wrangler/roadwaynetwork.py#L2298-L2306

[2021-01-08 19:24] kulshresthaa commented on #257
`_update_location_reference` method is not used anymore, you can take it out.

https://github.com/wsp-sag/network_wrangler/blob/c70a731e74be20fef42f85c2c847e30a320eee7c/network_wrangler/roadwaynetwork.py#L2313-L2316

[2021-01-20 19:04] kulshresthaa commented on #256
@i-am-sijia Could you please test this fix using the setup you previously used where the bug was identified?

[2021-01-26 17:47] i-am-sijia commented on #256
@kulshresthaa It works! No duplicate node or link IDs any more.  Thanks.

[2021-01-26 17:48] #256 closed

[2021-03-17 19:24] e-lo opened #260 "[FEATURE] Add pickup_type and dropoff_type as an optional field to stop_times"
### User Story
*As a MTC modeler, I'd like for pickup and drop off restrictions to be captured in the standard transit networks.*

### Priority
Medium

### Level of Effort
Low

### Resolution Ideas

### Project
MTC Network

### Who should be involved?
Implementer: @i-am-sijia
Commenters: @e-lo @DavidOry
Users:
Reviewers: @e-lo @DavidOry

### Risk
*Will this potentially break anything?*

Unlikely.

[2021-03-19 18:51] i-am-sijia opened #261 "failed to apply transit routing project cards in scenario"
## Describe the bug
This the first time applying real transit routing project cards in a scenario set up, getting some errors such as
[code]
### Example project card
[example](https://github.com/BayAreaMetro/travel-model-two-networks/blob/a5100ce62e43018822bb06f07702778089c53d10/project_cards/SamTrans-route-393-edits.yml)

### to do:

- [x] route selection by `start_time` and `end_time` is not rea

[2021-03-22 20:46] i-am-sijia opened #262 "[FEATURE] more flexibility when selecting transit with the same changes"
### User Story
Currently wrangler can select multiple routes such as:
https://github.com/wsp-sag/network_wrangler/blob/fa101017117eccaa4885623a2f20fbad100aeec0/examples/stpaul/project_cards/8a_multi_transit_attribute_change.yml#L9-L14

It will be nice to allow individual route selections under `facility` (similar to [roadway](https://github.com/wsp-sag/network_wrangler/blob/fa101017117eccaa4885623

[2021-03-22 21:14] i-am-sijia opened #263 "[BUG] not removing loops in transit"
## Describe the bug
No errors returned, but the result is incorrect.  The loop still exists.

### Failing tests
MTC transit project cards, example see below:

[code]

### Triggering line of code
https://github.com/wsp-sag/network_wrangler/blob/23de6c4ce4c7f0106c41993a4fcff3a76399796e/network_wrangler/transitnetwork.py#L867-L880

### Thoughts on resolution
List index() returns the index of the firs

[2021-03-23 19:44] i-am-sijia opened #264 "[FEATURE] Add new transit"
### User Story
There seems to be no "Add New Transit" category

https://github.com/wsp-sag/network_wrangler/blob/242220f713f3579b62b9d0624d4b970d3363a916/network_wrangler/projectcard.py#L24-L36

, and we can't use the existing category "Transit Service Property Change" because it returns error if the service is not already in the network:

https://github.com/wsp-sag/network_wrangler/blob/242220f71

[2021-03-26 21:47] e-lo opened #265 "[BUG] Example transit data missing stop_times"
## Describe the bug
Got following error when loading stpaul transit network to TransitNetwork:
[code]

### Thoughts on resolution
Either remove these lines or add their stop times.

[2021-04-06 16:41] e-lo opened #266 "[FEATURE] Consider switching from Partridge to GTFS_Kit"
### User Story
*As a developer I'd like to use as many existing and up-to-date libraries as possible to do GTFS validation*

### Status

- [x] Defined
- [x] Planned
- [x] Implemented
- [x] Tested

### Priority
Low

### Level of Effort
Moderate

### Resolution Ideas
https://github.com/mrcagney/gtfs_kit/tree/master/gtfs_kit

### Project
*Is there a funder or project associated with this feature?*
No

[2021-04-07 18:41] e-lo opened #267 "[FEATURE] Don't write out 'file' in project card"
`file` doesn't need to be in project card writing.

cc: @DavidOry

[2021-04-07 18:52] e-lo opened #268 "[FEATURE] Consolidate transit connectivity checks"
### User Story
*As a wrangler user, I'd like to make sure my transit network has connectivity without taking an inordinate amount of time*

### Priority
Medium.

### Level of Effort
Low-medium. Code written; need to consolidate into common API.

### Resolution Ideas
Consolidate methods so there isn't duplicative methods and that OSMNX highway network isn't required (because it can take an hour to

[2021-04-07 18:56] e-lo opened #269 "[BUG] Prerequisite requirement failing when prerequisite project is added at same time"
## Describe the bug
Prerequisite requirement failing when prerequisite project is added at same time.

Bug fix approver: @i-am-sijia

## To Reproduce
Steps to reproduce the behavior:
@i-am-sijia - please add
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Failing tests
@i-am-sijia please add
- [ ] No applicable test failed, need to create.
- [ ]

### Thoughts on resolu

[2021-04-07 19:00] e-lo opened #270 "[FEATURE] Write out "fixed" transit project card for failed transit route validity"
### User Story
*As a NetworkWrangler user, I'd like for wrangler to write out a project card with fixed routing when it fails on route shape validity in order to have one that is readily used.*

### Priority
Medium

### Level of Effort
Medium

### Resolution Ideas

### Project
*Is there a funder or project associated with this feature?*
MTC

### Who should be involved?
Implementer: @i-am-sijia
Com

[2021-04-07 19:03] e-lo opened #271 "[FEATURE] Function for doing project card validation for the purposes of populating a project card repository"
### User Story
As a project card coder, I'd like to have a function that I can run as a pre-commit hook when I add it to the [project card registry](https://github.com/wsp-sag/project_card_registry_template) which makes sure the project card:
- is a valid format
- has a unique project name
- transit and roadway compatibility defined by base reference roadway network + prerequisites in project card

[2021-04-12 22:21] kulshresthaa commented on #269
@i-am-sijia Do you have steps for me to understand what exactly you were doing in order for me to replicate this issue?

[2021-04-23 21:29] kulshresthaa commented on #269
@i-am-sijia @DavidOry I tested this prerequisite requirement and it worked as expected and had no issues. We can discuss it on the call next week.

[2021-05-18 20:05] AshishKuls opened #272 "[BUG] Issue with empty list as default argument to "create_scenario" function"
## Describe the bug
Using an empty list [] as default argument to a function is not correct and causes unwanted behavior.

`project_cards_list` argument in `create_scenario` function

[code]

create a scenario from base scenario:
[code]
['6th St E Road Diet'] is the applied project

Next, create another scenario from base (without any project card):
[code]
scenario_2 already contains project ['6th

[2021-05-18 20:05] kulshresthaa commented on #272
cc @e-lo @DavidOry @i-am-sijia

[2021-05-18 22:19] AshishKuls opened #273 "[BUG] Case issue with "Project" key in project card"
## Describe the bug
case for `project` key from the project card isn't used in a consistent manner, causing the problems

For example, `prerequisite` dictionary stores the project keys as read from the project card (without converting the case to lower)

https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/scenario.py#L133
https://github.com/wsp-sag/network_wrangler/blob/master

[2021-05-19 18:43] e-lo commented on #273
Discussed solution:

- [ ] remove `.lower()` statements for `self.project`
- [ ] make sure it gives you a warning if you list pre-reqs that aren't found

[2021-06-01 18:41] kulshresthaa commented on #272
done.

[2022-01-14 00:34] lmz opened #274 "[FEATURE] Project cards should log their own filename"
### User Story
*As a modeler building networks and applying project cards, my logs show things like this:

What project card is that referring to?  I'd rather know what the filename is called than have to search my project cards for that text.  What if multiple cards have the same description?  (or is that a title?).

I think it would be more useful to say something like:

### Priority

To me?  Hi

[2022-01-14 01:30] lmz opened #275 "[BUG] Transit network silently drops data due to partridge pruning"
## Describe the bug

The transit library, partridge, apparently silently prunes out rows in the dataset; from the [partridge Readme.rsg](https://github.com/remix/partridge/blob/master/README.rst)

This isn't obvious to the user of `network_wrangler` and resulted in some stops and a lot of fare rules and fare attributes being dropped.  @i-am-sijia implemented a workaround to the fare files here: ht

[2022-01-14 20:43] lmz opened #276 "[BUG] Document and check for RoadwayNetwork.shape_foreign_key"
## Describe the bug

I was trying to use a [script](https://github.com/BayAreaMetro/travel-model-two-networks/blob/ad5f24eb3dad798be4e4d9aa433bb9bcca578357/notebooks/02-correct-network-errors.ipynb) that errored out when applying a project card that added new roadway links.  On [digging](https://app.asana.com/0/0/1201662144568397/f), I found it was because the `RoadwayNetwork.shape_foreign_key` wa

[2022-01-19 01:22] lmz opened #277 "[Refactor] Rename/define Scenario variables so they make sense when building tiered scenarios"
### User Story
*As a travel modeler who is building networks, I would like to apply projects for a given set of tags without creating a new scenario instance.*

Maybe this is already doable using `scenario.add_project_cards_from_tags()` -- what do these add methods do?  Is there a list of cards that are waiting to be applied?

Maybe I'm looking for another layer of cards, like a card set, rather t

[2022-01-19 16:36] e-lo commented on #277
I think the functionality for tags is already there.  Network Wrangler does something similar to git when adding new cards: first they are **added** and then they are **applied** (~ __committed__)

[`scenario.add_project_cards_from_tags()`](https://github.com/wsp-sag/network_wrangler/blob/master/network_wrangler/scenario.py#L346) calls  [`scenario.add_project_cards_from_file()`](https://github.com

[2022-01-19 16:37] e-lo commented on #277
Are you thinking similar to the "plans" we had in the og network wrangler 1.0?

[2022-01-19 17:08] e-lo commented on #274
I agree with your proposed logging change and think this makes sense.

[2022-01-19 18:25] lmz commented on #277
Ahh got it.  So I think I would be doing something like this:
[code]

But it seems like

[2022-01-19 19:37] lmz opened #278 "[FEATURE] Documentation of roadway network schema and validation"
### User Story
*As a modeler who builds networks, I would like to understand and (I'm guessing) take advantage of project card validation.*

I noticed our [script](https://github.com/BayAreaMetro/travel-model-two-networks/blob/develop/notebooks/02-all-projects.ipynb) which applies project cards is passing `validate=False`.  When I passed `validate=True`, I got errors because network_wrangler is tr

[2022-01-19 19:40] e-lo commented on #278
Short story: the [json-schema](https://json-schema.org/) needs to be updated to match currently used schema.

[2022-01-19 19:48] e-lo commented on #277
`scenario.remove_all_projects()`
--> not sure why this is necessary if you want to layer on?

[2022-01-19 19:49] e-lo commented on #277
I think this should work - what is it not happy about?
[code]

[2022-01-19 19:52] lmz commented on #277
Ahh... I was under the impression that rerunning `scenario.apply_all_projects()` without clearing them would apply again?  Is it checking for ones already applied?  Some projects are made to apply multiple times but most of them are not, so how are they distinguished?

[2022-01-19 20:00] lmz commented on #274
I'm happy to do this (to get familiar with the contributing process) although it looks like I don't think I have permissions to assign the issue.  Would I make a pull request to the develop branch?  (Or create a feature branch...?  The change seems a bit minor for that)

[2022-01-19 22:05] e-lo commented on #277
AH - looking at it more I think you are right.  I guess we could do either:

1. add remove to your process
[code]

2. remove the project cards as default in `apply_project()`

Either would be straightforward to implement...

[2022-01-19 22:12] lmz commented on #277
I think it would be intuitive to have `scenario.apply_all_projects()` remove the project from the `project_cards` list once it's applied.

`scenario.apply_project()` is a little trickier since it's taking the project card as an arg

[2022-01-19 22:53] e-lo commented on #274
Make a feature branch that you then merge into develop as your PR...the
tests and such will then run on the PR

On Wed, Jan 19, 2022, 12:00 PM Lisa Zorn ***@***.***> wrote:

[2022-01-21 17:48] DavidOry opened #279 "[FEATURE] Allow user to add variables to general purpose managed lane connectors"
### User Story
I have a managed lane with limited access points. I want to monitor the demand on the managed lane links and then charge the price on the access link. Travelers pay when they traverse the access link. I therefore need a variable on the dummy link connecting the general purpose lane to the managed lane.

### Priority
Medium

### Level of Effort
Medium

### Resolution Ideas
The curren

[2022-02-03 19:19] DavidOry commented on #71
+1 @RachelWikenMC could benefit from this being fixed soon.

[2022-02-08 02:31] lmz opened #280 "[BUG] developer branch failing tests"
## Describe the bug

The developer branch is failing tests.
See https://travis-ci.org/github/wsp-sag/network_wrangler/builds/773176713

## To Reproduce
Check out the developer branch and run the tests with `pytest`

### Failing tests
From https://travis-ci.org/github/wsp-sag/network_wrangler/builds/773176713,
[code]

### Triggering line of code
`G = ox.graph_from_gdfs(graph_nodes, graph_links)`

#

[2022-02-09 19:39] lmz opened #282 "[FEATURE] Tag links/nodes/lines with applied projects"
### User Story
*As a modeler who is building networks, I'd like to be able to see which links/nodes/lines have been modified by which project card*.  This would be helpful for QAing networks and debugging where changes came from.

We do this with NetworkWrangler 1.0 for roadways and have found it incredibly useful -- it's just a column with the project strings, comma-delimited.  We didn't do it fo

[2022-02-09 19:54] RachelWikenMC commented on #282
Adding my +1 - this would be super helpful to speed up network review , making sure cards applied correctly

[2022-03-07 18:34] DavidOry opened #284 "[FEATURE] Default attribute values for new links/nodes"
### User Story
I am creating a new network link. There are attributes of my network, such as an observed count, that I do not want to enter in a Project Card. Rather, I'd like there to be a set of default values that are used for new links. This will make Project Cards for new links briefer and easier to manage.

### Priority
Low

### Level of Effort
Low

### Resolution Ideas
Add default values fo